@import url("https://fonts.googleapis.com/css2? family= Oswald:wght@400;500 & family= Roboto & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira:wght@300;400;500&display=swap");
.img-extend, .grid-index .instalaciones img, .grid-index .revestimientos img, .grid-index .griferias img, .grid-index .sanitarios img {
  width: 100%;
  height: auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

* {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  box-sizing: border-box;
}

.bg-wheat {
  background-color: wheat;
}

header .container-flex-carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}
header .w-65 {
  width: 65%;
}

.cont-h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.cont-h1 .box-h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 65%;
  margin: 30px;
  border-radius: 20px;
  background-color: black;
}
.cont-h1 .box-h1 h1 {
  font-size: 3em;
  line-height: 2.5em;
  color: white;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

h2 {
  font-family: "Saira", sans-serif;
  font-weight: 400;
}

.text-edit {
  font-size: 1em;
  line-height: 1.9em;
  color: black;
  text-align: center;
}
.text-edit p:hover {
  background-color: black;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.flex-conteiner-multimedia {
  width: 100%;
  height: 100px;
  display: flex;
}
.flex-conteiner-multimedia .w-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  color: white;
}
.flex-conteiner-multimedia .w-section .w-65 {
  width: 65%;
  border: 0;
  border-radius: 20px;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.flex-conteiner-multimedia .w-section .w-65 .d-flex-1 {
  width: 32%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.flex-conteiner-multimedia .w-section .w-65 .d-flex-1 .wrap-svg-1 svg .margin-svg1 {
  margin-left: 15px;
}
.flex-conteiner-multimedia .w-section .w-65 .d-flex-2 {
  width: 32%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.flex-conteiner-multimedia .w-section .w-65 .tamano-multimedia {
  width: 3vw;
  height: auto;
  border: 1px solid white;
  border-radius: 20px;
  color: black;
  background-color: white;
}

.grid-index {
  display: grid;
  grid-template-columns: repeat(6, 15vw);
  margin-bottom: 25px;
  gap: 30px;
  width: 100%;
  justify-content: center;
  grid-template-areas: "filtres h1 h1 canillas canillas" "filtres inodoro inodoro canillas canillas" "filtres inodoro inodoro pisos pisos" "filtres plomero plomero pisos pisos";
}
.grid-index .presentacion {
  grid-area: h1;
  font-size: 2.1em;
  line-height: 2.8em;
  color: white;
  text-align: center;
  border: 0px;
  border-radius: 10px;
  background-color: black;
  margin-top: 20px;
}
.grid-index .sanitarios {
  grid-area: inodoro;
}
.grid-index .griferias {
  grid-area: canillas;
}
.grid-index .revestimientos {
  grid-area: pisos;
  overflow: hidden;
}
.grid-index .instalaciones {
  grid-area: plomero;
}
.grid-index .filtros {
  grid-area: filtres;
  display: flex;
  flex-direction: column;
}
.grid-index .filtros form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border: wheat solid 1px;
  border-radius: 20px;
  background-color: black;
  margin-top: 25vh;
}
.grid-index .filtros form .edit-conteiner-filtros {
  border: white solid 2px;
  border-radius: 10px;
  background-color: wheat;
  margin: 10px 0;
}
.grid-index .filtros form .edit-conteiner-filtros .categories {
  margin-bottom: 25px;
  color: white;
  background-color: black;
  font-size: 1em;
}
.grid-index .filtros ul li {
  list-style: none;
}
.grid-index .filtros ul li a {
  font-size: 0.9em;
  line-height: 2em;
  text-decoration: none;
  color: rgb(104, 104, 233);
}
.grid-index .filtros ul li a:hover {
  color: white;
  background-color: black;
}

.navegador {
  background-color: black;
  display: flex;
  width: 100%;
  height: auto;
}
.navegador img {
  width: 25%;
  height: auto;
  display: flex;
}
.navegador ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
.navegador ul li a {
  color: white;
}
.navegador ul li a:hover {
  background-color: white;
  color: black;
  text-decoration: underline;
}
.navegador .bg-form {
  background-color: white;
  border-radius: 5px;
}
.navegador .edit-button {
  background-color: white;
  color: black;
  border: solid 1px black;
  border-radius: 5px;
}

/*# sourceMappingURL=main.css.map */
