@import url("https://fonts.googleapis.com/css2? family= Oswald:wght@400;500 & family= Roboto & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira:wght@300;400;500&display=swap");
.img-extend, .grid-index .instalaciones img, .grid-index .revestimientos img, .grid-index .griferias img, .grid-index .sanitarios img {
  width: 100%;
  height: auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.gd-prod-h2, .grid-productos .incendio .container-section-product h2, .grid-productos .cloaca .container-section-product h2, .grid-productos .gas .container-section-product h2, .grid-productos .agua .container-section-product h2 {
  text-align: center;
  background-color: black;
  color: wheat;
}

.img-extend-productos, .grid-productos .incendio img, .grid-productos .cloaca img, .grid-productos .gas img, .grid-productos .agua img {
  width: 100%;
  height: 70%;
  overflow: hidden;
  margin-top: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.articles-prod, .grid-productos .incendio, .grid-productos .cloaca, .grid-productos .gas, .grid-productos .agua {
  border: solid 3px black;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.producto-section2-, .container-section2 .agrupacion .producto-section2 {
  border: solid 2px black;
  padding: 10px 10px;
  margin: 10px 10px;
  text-align: center;
  border-radius: 10px;
}

.form-column-formularios, .section-container-contactanos .disposicion-contenidos .conteiner-formularios .b-g form .border-form .column-formularios, .section-container-contactanos .disposicion-contenidos .conteiner-formularios .b-g form .border-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animacion-agrupacion, .container-section2 .agrupacion .producto-section2 .d-logos .b-image-cloaca, .container-section2 .agrupacion .producto-section2 .d-logos .b-image-gas {
  width: 30%;
  height: 300px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

* {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  box-sizing: border-box;
}

.bg-wheat {
  background-color: wheat;
}

@keyframes parrafos {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
p {
  animation-name: parrafos;
  animation-duration: 5s;
}

@keyframes animation-background {
  0% {
    background-image: url(../img/headers/logo-whatsapp.webp);
  }
  25% {
    background-color: white;
  }
  50% {
    background-color: white;
  }
  75% {
    background-color: white;
  }
  100% {
    background-image: url(../img/headers/telefono-whatsapp.webp);
  }
}
@keyframes animation-backgroun {
  0% {
    background: linear-gradient(to left, wheat, white);
  }
  100% {
    background: linear-gradient(to right, wheat, white);
  }
}
@keyframes conocenos {
  0% {
    background-image: url(../img/main/da.webp);
  }
  25% {
    background-color: white;
    animation-duration: 2s;
  }
  50% {
    background-color: white;
    animation-duration: 1s;
  }
  75% {
    background-color: white;
  }
  100% {
    background-image: url(../img/main/favicon.webp);
  }
}
@keyframes agrupacion-animate-agua {
  0% {
    background-image: url(../img/productos/logo-saladillo.webp);
  }
  25% {
    background-image: url(../img/productos/aq-system.webp);
  }
  50% {
    background-image: url(../img/productos/logo-saladillo.webp);
  }
  75% {
    background-image: url(../img/productos/aq-system.webp);
  }
  100% {
    background-image: url(../img/productos/logo-saladillo.webp);
  }
}
@keyframes agrupacion-animate-gas {
  0% {
    background-image: url(../img/productos/grupo-dema.webp);
  }
  25% {
    background-image: url(../img/productos/curso-fusiogas.webp);
  }
  50% {
    background-image: url(../img/productos/grupo-dema.webp);
  }
  75% {
    background-image: url(../img/productos/curso-fusiogas.webp);
  }
  100% {
    background-image: url(../img/productos/grupo-dema.webp);
  }
}
@keyframes agrupacion-animate-cloaca {
  0% {
    background-image: url(../img/productos/awaduct.webp);
  }
  25% {
    background-image: url(../img/productos/tigre.webp);
  }
  50% {
    background-image: url(../img/productos/awaduct.webp);
  }
  75% {
    background-image: url(../img/productos/tigre.webp);
  }
  100% {
    background-image: url(../img/productos/awaduct.webp);
  }
}
@keyframes not-found-404 {
  0% {
    background-image: url(../img/error-404/danger-anonimus.webp);
  }
  25% {
    background-image: url(../img/error-404/danger.webp);
  }
  50% {
    background-image: url(../img/error-404/danger-anonimus.webp);
  }
  75% {
    background-image: url(../img/error-404/danger.webp);
  }
  100% {
    background-image: url(../img/error-404/danger-anonimus.webp);
  }
}
header .container-flex-carousel {
  display: flex;
  /* Variables locales */
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}
header .w-65 {
  width: 65%;
}
@media (min-width: 290px) and (max-width: 767px) {
  header .w-65 {
    width: 100vw;
  }
}

.cont-h11 {
  display: flex;
  /* Variables locales */
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.cont-h11 .box-h11 {
  display: flex;
  /* Variables locales */
  flex-direction: row;
  justify-content: center;
  width: 65%;
  margin: 30px 0;
  border-radius: 20px;
  background-color: black;
}
.cont-h11 .box-h11 h1 {
  font-size: 3em;
  line-height: 2.5em;
  color: white;
  text-align: center;
  font-family: "Saira", sans-serif;
  font-weight: 500;
}

h2 {
  font-family: "Saira", sans-serif;
  font-weight: 400;
}

.text-edit {
  font-size: 1em;
  line-height: 1.9em;
  color: black;
  text-align: center;
}
.text-edit p:hover {
  background-color: black;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.flex-conteiner-multimedia {
  width: 100%;
  height: 100px;
  display: flex;
}
.flex-conteiner-multimedia .w-section {
  display: flex;
  /* Variables locales */
  flex-direction: row;
  justify-content: center;
  width: 100%;
  color: white;
}
.flex-conteiner-multimedia .w-section .w-65 {
  width: 65%;
  display: flex;
  /* Variables locales */
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  /* Variables locales */
  border: 0;
  border-radius: 20px;
  background-color: black;
}
.flex-conteiner-multimedia .w-section .w-65 .d-flex-1 {
  width: 32%;
  display: flex;
  /* Variables locales */
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.flex-conteiner-multimedia .w-section .w-65 .d-flex-1 .wrap-svg-1 svg {
  /* Variables locales */
  width: 60px;
  height: 60px;
  margin: 0;
  border: 0;
  border-radius: 10px;
  /* Variables locales */
  background-color: white;
  color: black;
  margin-left: 15px;
}
.flex-conteiner-multimedia .w-section .w-65 .d-flex-2 {
  width: 32%;
  display: flex;
  /* Variables locales */
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.flex-conteiner-multimedia .w-section .w-65 .d-flex-2 .flex-wrap-2 svg {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}
.flex-conteiner-multimedia .w-section .w-65 .flex-wrap-2-w .edit-p {
  font-size: 0.8em;
  line-height: 1.5em;
  color: wheat;
  text-align: center;
}

footer {
  display: flex;
  /* Variables locales */
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  margin-top: 20px;
  width: 100%;
}
footer .container-wrap .multimedia-redes {
  width: 50px;
  margin: 5px 5px;
  border-radius: 10px;
}
footer .container-wrap .svg-fb {
  color: blue;
  padding: 8px 8px;
}
footer .container-wrap .svg-fb:hover {
  color: white;
}
footer .container-wrap .svg-insta {
  color: violet;
  padding: 8px 8px;
}
footer .container-wrap .svg-insta:hover {
  color: white;
}
footer .container-wrap .svg-twitter {
  padding: 8px 8px;
}
footer .container-wrap .svg-twitter:hover {
  color: white;
}
footer .container-wrap .css-text {
  font-size: 1.5em;
  line-height: 1.7em;
  color: white;
  text-align: right;
}

.contenedor figure {
  margin-top: 20px;
  position: relative;
  height: 45%;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  border-radius: 6px;
}
.contenedor figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}
.contenedor figure:hover > .capa h2 {
  display: inline-block;
  margin-top: 70px;
  margin-bottom: 15px;
}
.contenedor figure:hover > .capa h3 {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 15px;
}
.contenedor figure:hover > img {
  transform: scale(1.3);
}
.contenedor figure img {
  width: 110%;
  height: 100%;
  transition: all 400ms ease-out;
  will-change: transform;
}
.contenedor figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(238, 201, 132, 0.877);
  transition: all 400ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.contenedor figure .capa h2 {
  font-size: 2em;
  line-height: 2.2em;
  color: black;
  text-align: center;
  font-weight: 400;
  font-family: "Saira", sans-serif;
  margin-bottom: 120px;
  margin-top: 30px;
}
.contenedor figure .capa h3 {
  font-size: 2em;
  line-height: 2.2em;
  color: black;
  text-align: center;
  font-weight: 400;
  font-family: "Saira", sans-serif;
  margin-bottom: 120px;
  margin-top: 30px;
}
.contenedor figure .capa .wsp {
  text-decoration: none;
}
.contenedor figure .capa .wsp a {
  /* Variables locales */
  border: 2px solid black;
  border-radius: 8px;
  background-color: black;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  color: white;
}
.contenedor figure .capa .wsp button {
  /* Variables locales */
  background-color: rgb(120, 224, 120);
  color: white;
  border-radius: 8px;
}

.grid-index {
  display: grid;
  /* Variables locales */
  grid-template-columns: repeat(6, 15vw);
  margin-bottom: 25px;
  gap: 30px;
  width: 100%;
  justify-content: center;
  grid-template-areas: "filtres h1 h1 canillas canillas" "filtres inodoro inodoro canillas canillas" "filtres inodoro inodoro pisos pisos" "filtres plomero plomero pisos pisos";
}
.grid-index .presentacion {
  grid-area: h1;
  font-size: 2.1em;
  line-height: 2.8em;
  color: white;
  text-align: center;
  /* Variables locales */
  border: 0px;
  border-radius: 10px;
  background-color: black;
  margin-top: 20px;
}
.grid-index .sanitarios {
  grid-area: inodoro;
}
.grid-index .griferias {
  grid-area: canillas;
}
.grid-index .revestimientos {
  grid-area: pisos;
  overflow: hidden;
}
.grid-index .instalaciones {
  grid-area: plomero;
}
.grid-index .filtros {
  grid-area: filtres;
  display: flex;
  flex-direction: column;
}
.grid-index .filtros form {
  display: flex;
  /* Variables locales */
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  /* Variables locales */
  border: wheat solid 1px;
  border-radius: 20px;
  background-color: black;
  margin-top: 25vh;
}
.grid-index .filtros form .edit-conteiner-filtros {
  /* Variables locales */
  border: white solid 2px;
  border-radius: 10px;
  background-color: wheat;
  margin: 10px 0;
}
.grid-index .filtros form .edit-conteiner-filtros .categories {
  margin-bottom: 25px;
  color: white;
  background-color: black;
  font-size: 1em;
}
.grid-index .filtros ul li {
  list-style: none;
}
.grid-index .filtros ul li a {
  /* Variables locales */
  font-size: 0.9em;
  line-height: 2em;
  text-decoration: none;
  color: rgb(104, 104, 233);
}
.grid-index .filtros ul li a:hover {
  color: white;
  background-color: black;
}

.container-galeria {
  display: flex;
  /* Variables locales */
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 500px;
  margin-bottom: 30px;
}
.container-galeria section {
  display: flex;
  height: auto;
  width: 65%;
  /* Variables locales */
  border: solid 2px black;
  border-radius: 5px;
  background-color: white;
}
.container-galeria section img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.9;
  transition: 0.5s ease;
}
.container-galeria section img:hover {
  cursor: all-scroll;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

.grid-productos {
  display: grid;
  /* Variables locales */
  grid-template-columns: 18vw 27vw 18vw;
  margin-bottom: 100px;
  gap: 10px;
  width: 100%;
  justify-content: center;
  row-gap: 100px;
  grid-template-areas: "liquido desechos gases" "liquido desechos gases" "liquido bombero gases";
  /* Declarando los grid-area */
}
.grid-productos .agua {
  grid-area: liquido;
}
.grid-productos .agua .container-section-product {
  width: 100%;
}
.grid-productos .agua .container-section-product p {
  font-size: 1.2em;
  line-height: 2.2em;
  padding: 0 15px;
}
.grid-productos .gas {
  grid-area: gases;
}
.grid-productos .gas .container-section-product {
  width: 100%;
}
.grid-productos .gas .container-section-product p {
  font-size: 1.2em;
  line-height: 1.8em;
  padding: 0 15px;
}
.grid-productos .cloaca {
  grid-area: desechos;
  overflow: hidden;
}
.grid-productos .cloaca .container-section-product {
  width: 100%;
}
.grid-productos .cloaca .container-section-product p {
  font-size: 1.2em;
  line-height: 2em;
  padding: 0 15px;
}
.grid-productos .incendio {
  grid-area: bombero;
}
.grid-productos .incendio .container-section-product {
  width: 100%;
}
.grid-productos .incendio .container-section-product p {
  font-size: 1.2em;
  line-height: 2em;
  padding: 0 15px;
}
.container-section2 {
  margin: 50px 0;
}
.container-section2 .cont-section2 {
  display: flex;
  /* Variables locales */
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-section2 .agrupacion {
  width: 65%;
  border: solid 2px black;
  margin-bottom: 25px;
  display: flex;
  /* Variables locales */
  animation-name: animation-backgroun;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.container-section2 .agrupacion .producto-section2 h2 {
  /* Variables locales */
  background-color: black;
  color: white;
  margin-bottom: 30px;
}
.container-section2 .agrupacion .producto-section2 .h3 {
  display: flex;
  /* Variables locales */
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-section2 .agrupacion .producto-section2 .h3 .bg-h3 {
  width: 65%;
  background-color: wheat;
}
.container-section2 .agrupacion .producto-section2 .h3 .bg-h3 h3 {
  margin-bottom: 15px;
}
.container-section2 .agrupacion .producto-section2 p {
  font-size: 1.5em;
  margin-bottom: 50px;
  padding: 30px 0;
}
.container-section2 .agrupacion .producto-section2 .d-logos {
  display: flex;
  /* Variables locales */
  flex-direction: row;
  justify-content: center;
}
.container-section2 .agrupacion .producto-section2 .d-logos .b-image-agua {
  width: 30%;
  height: 300px;
  /* Variables locales */
  animation-name: agrupacion-animate-agua;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.container-section2 .agrupacion .producto-section2 .d-logos .b-image-gas {
  /* Variables locales */
  animation-name: agrupacion-animate-gas;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.container-section2 .agrupacion .producto-section2 .d-logos .b-image-cloaca {
  /* Variables locales */
  animation-name: agrupacion-animate-cloaca;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes animation {
  0% {
    left: 0%;
    transform: translatex(0%);
  }
  50% {
    left: 50%;
    transform: translatex(50%);
  }
  100% {
    left: 100%;
    transform: translatex(100%);
  }
}
.container-fluid .animation {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.container-fluid .animation .div-container-anima {
  height: 100px;
  display: flex;
  align-items: center;
  width: 60%;
  background: linear-gradient(to top, white, black);
  border-radius: 5px;
}
.container-fluid .animation .div-container-anima .animate {
  width: 50%;
  height: 60px;
  display: flex;
  /* Variables locales */
  justify-content: center;
  align-items: center;
  animation-name: animation;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  cursor: pointer;
}
.container-fluid .animation .div-container-anima .animate svg {
  color: white;
  height: 40px;
}
.container-fluid .animation .div-container-anima .animate .colorh-2 {
  font-size: 1.7em;
  animation: 10s linear infinite;
  color: white;
  margin-right: 20px;
}
.container-fluid .border-text {
  /* Variables locales */
  border: solid 5px black;
  border-radius: 0;
  background-color: wheat;
}
.container-fluid .border-sec {
  /* Variables locales */
  border: solid 5px wheat;
  border-radius: 20px;
  background-color: black;
}
.container-fluid .w-65 {
  display: flex;
  /* Variables locales */
  justify-content: space-between;
  align-items: center;
  width: 65%;
  background-color: black;
  border-radius: 20px;
}
.container-fluid .w-65 .card {
  width: 500px;
  height: 58vh;
  display: flex;
  border: solid 2px wheat;
  margin: 10px;
}
.container-fluid .w-65 .card .width {
  height: 50vh;
  width: 100%;
}
.container-fluid .w-65 .card .bord-img {
  border-bottom: solid 2px black;
}
.container-fluid .w-65 .card:hover {
  transform: scale(1.1);
  transition: all 0.8s;
  cursor: pointer;
}

.grid-conocenos {
  display: grid;
  /* Variables locales */
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 60px;
  gap: 2px;
  width: 100%;
  grid-template-rows: 230px repeat(2, 50vh) 300px;
  grid-template-areas: "titulo titulo" "principal movimiento" "principal video" "boton boton";
  justify-content: center;
  /* Declarando areas del Grid page "CONOCENOS" */
}
.grid-conocenos .h1-conocenos {
  grid-area: titulo;
}
.grid-conocenos .desarrollo {
  grid-area: principal;
  display: flex;
  /* Variables locales */
  flex-direction: row;
  justify-content: flex-end;
  overflow: hidden;
}
.grid-conocenos .desarrollo .d-flex-desarrollo {
  /* Variables locales */
  animation-name: animation-backgroun;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: inline-block;
  width: 65%;
  height: auto;
  border: solid 2px black;
  overflow: hidden;
}
.grid-conocenos .desarrollo .d-flex-desarrollo img {
  width: 100%;
  height: auto;
  padding: 10px 10px;
  margin-bottom: 30px;
  background-color: black;
}
.grid-conocenos .desarrollo .d-flex-desarrollo .container-p {
  display: flex;
  justify-content: center;
  height: auto;
}
.grid-conocenos .desarrollo .d-flex-desarrollo .container-p p {
  font-size: 1em;
  line-height: 2em;
  color: black;
  text-align: center;
  padding: 0 15px;
  overflow: hidden;
  height: 10%;
}
.grid-conocenos .desarrollo .d-flex-desarrollo .container-p p:hover {
  margin: 0 15px;
  color: white;
  border-radius: 10px;
  background-color: black;
  transition: all 4s;
}
.grid-conocenos .carousell {
  width: 100%;
}
.grid-conocenos .carousell .container-carousell {
  /* Variables locales */
  animation-name: conocenos;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 63.5%;
  height: 98%;
  margin-left: 10px;
}
.grid-conocenos .multime {
  grid-area: video;
  display: flex;
  /* Variables locales */
  flex-direction: row;
  justify-content: flex-start;
}
.grid-conocenos .multime .container-video {
  display: flex;
  /* Variables locales */
  justify-content: center;
  align-items: stretch;
  width: 63.5%;
  height: auto;
  margin-left: 10px;
  background-color: black;
}
.grid-conocenos .multime .container-video .iframe-video {
  display: flex;
  /* Variables locales */
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.grid-conocenos .buton {
  grid-area: boton;
  display: flex;
  /* Variables locales */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  margin-top: 20px;
}
.grid-conocenos .buton .img-buton {
  display: flex;
  /* Variables locales */
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 65%;
  background-color: black;
}
.grid-conocenos .buton .img-buton .container-img-cono {
  width: 40%;
  height: 100%;
  /* Variables locales */
  animation-name: animation-background;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.grid-conocenos .buton .img-buton .conocenos-p {
  font-size: 1.5em;
  line-height: 1.6em;
  color: black;
  text-align: center;
  width: 60%;
  background-color: rgb(120, 224, 120);
  padding: 0 15px;
  border-radius: 15px;
}
.grid-conocenos .buton .wsp {
  height: 40px;
  width: 65%;
  margin: 0;
  display: flex;
  background-color: black;
}
.grid-conocenos .buton .wsp .cont-a-wsp {
  display: flex;
  /* Variables locales */
  flex-direction: row;
  justify-content: center;
  width: 40%;
  height: 40px;
  background-color: rgb(120, 224, 120);
  align-items: center;
}
.grid-conocenos .buton .wsp .cont-a-wsp a {
  color: white;
  background-color: black;
  border-radius: 10px;
  text-decoration: none;
}
.grid-conocenos .buton .wsp .cont-a-wsp a:hover {
  /* Variables locales */
  background-color: white;
  color: black;
}
.grid-conocenos .buton .wsp .cont-a-wsp a button {
  /* Variables locales */
  background-color: rgb(120, 224, 120);
  color: white;
  border-radius: 8px;
}

.section-container-contactanos {
  display: flex;
  /* Variables locales */
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}
.section-container-contactanos .disposicion-contenidos {
  display: flex;
  /* Variables locales */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.section-container-contactanos .disposicion-contenidos .ancho1 {
  font-size: 1.5em;
  text-align: center;
  background-color: wheat;
}
.section-container-contactanos .disposicion-contenidos .conteiner-formularios {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.section-container-contactanos .disposicion-contenidos .conteiner-formularios .b-g {
  width: 45%;
  display: flex;
  justify-content: center;
  background-color: wheat;
  border-radius: 20px;
}
.section-container-contactanos .disposicion-contenidos .conteiner-formularios .b-g form {
  width: 90%;
  margin: 25px;
}
.section-container-contactanos .disposicion-contenidos .conteiner-formularios .b-g form .border-form {
  /* Variables locales */
  border: solid wheat 2px;
  border-radius: 20px;
  background-color: black;
}
.section-container-contactanos .disposicion-contenidos .conteiner-formularios .b-g form .border-form .tamanos-formularios {
  margin: 20px 0;
}
.section-container-contactanos .disposicion-contenidos .conteiner-formularios .b-g form .border-form .tamanos-formularios input {
  width: 350px;
}
.section-container-contactanos .disposicion-contenidos .conteiner-formularios .b-g form .border-form .tamanos-formularios label {
  color: white;
  margin-bottom: 5px;
}
.section-container-contactanos .disposicion-contenidos .conteiner-formularios .b-g form .border-form .button1 {
  margin: 15px 0;
}
.section-container-contactanos .disposicion-contenidos .conteiner-formularios .b-g form .border-form .button1 input {
  width: 110px;
}
.section-container-contactanos .disposicion-contenidos .conteiner-formularios .b-g form .border-form .button2 {
  margin: 15px 0;
}
.section-container-contactanos .disposicion-contenidos .ancho1 {
  width: 51%;
  margin-bottom: 50px;
}

.d-h2 {
  display: flex;
  /* Variables locales */
  flex-direction: row;
  justify-content: center;
}
.d-h2 .indicacion-iframe {
  /* Variables locales */
  background-color: black;
  color: wheat;
  text-align: center;
  height: 5vh;
  margin-top: 40px;
  width: 65%;
}

.find-us {
  display: flex;
  /* Variables locales */
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 60vh;
  margin: 20px 0 35px 0;
}
.find-us .iframe-contactos {
  display: flex;
  /* Variables locales */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  width: 65%;
  height: 60vh;
  background-color: wheat;
}
.find-us .iframe-contactos .widthh {
  width: 100%;
}

.not-found {
  background-color: black;
}
.not-found .contenedor-fluid-error404 {
  height: 100vh;
  width: 100%;
  margin: 0;
  display: flex;
  /* Variables locales */
  flex-direction: row;
  justify-content: center;
}
.not-found .contenedor-fluid-error404 main {
  width: 100%;
  height: 100%;
  /* Variables locales */
  animation-name: not-found-404;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
}
.not-found .contenedor-fluid-error404 main .contenedor-section-404 {
  display: flex;
  /* Variables locales */
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 45%;
}
.not-found .contenedor-fluid-error404 main .contenedor-section-404 h1 {
  /* Variables locales */
  background-color: black;
  color: white;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 7px;
  font-family: "Saira", sans-serif;
  font-weight: 500;
}
.not-found .contenedor-fluid-error404 main .contenedor-section-404 h2 {
  color: white;
}
.not-found .contenedor-fluid-error404 main .contenedor-section-404 p {
  /* Variables locales */
  background-color: black;
  color: wheat;
  font-size: 1.4em;
  line-height: 1.5em;
  color: wheat;
  text-align: center;
  padding: 0 15px;
  border-radius: 10px;
}
.not-found .contenedor-fluid-error404 main .contenedor-section-404 p:hover {
  transform: scale(1.2);
  transition: all 1.5s;
  cursor: pointer;
}
.not-found .contenedor-fluid-error404 main .contenedor-section-404 .buton-404 {
  display: flex;
  /* Variables locales */
  flex-direction: row;
  justify-content: center;
}
.not-found .contenedor-fluid-error404 main .contenedor-section-404 .buton-404 a {
  /* Variables locales */
  background-color: red;
  color: white;
  border-radius: 5px;
}
.not-found .contenedor-fluid-error404 main .contenedor-section-404 .buton-404 a .btn {
  color: black;
}
.not-found .contenedor-fluid-error404 main .contenedor-section-404 .buton-404 a .btn:hover {
  /* Variables locales */
  border: none;
  border-radius: 5px;
  background-color: white;
  transform: scale(1.2);
  transition: 1s;
}

.navegador {
  background-color: black;
  display: flex;
  width: 100%;
  height: auto;
}
.navegador img {
  width: 25%;
  height: auto;
  display: flex;
}
.navegador ul {
  display: flex;
  /* Variables locales */
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
.navegador ul li a {
  color: white;
}
.navegador ul li a:hover {
  background-color: white;
  color: black;
  text-decoration: underline;
}
.navegador .bg-form {
  background-color: white;
  border-radius: 5px;
}
.navegador .edit-button {
  display: flex;
  /* Variables locales */
  flex-direction: row;
  justify-content: center;
  background-color: white;
  border: solid 2px black;
  border-radius: 5px;
  width: 30px;
}
.navegador .edit-button svg {
  color: black;
}

@media (min-width: 320px) and (max-width: 767px) {
  nav ul {
    display: flex;
    flex-direction: column !important;
  }
  .w-65 {
    width: 100vw;
  }
  .cont-h11 {
    width: 100%;
    height: 270px;
    margin: 50px 0;
  }
  .cont-h11 .box-h11 {
    width: 100%;
    height: 200px;
    /* Variables locales */
    border: none;
    border-radius: 10px;
    background-color: black;
    display: flex;
    /* Variables locales */
    justify-content: center;
    align-items: center;
  }
  .cont-h11 .box-h11 h1 {
    font-size: 2.5em;
    line-height: 1.5em;
    color: white;
    text-align: center;
    width: 70%;
  }
  .grid-index {
    display: grid;
    /* Variables locales */
    grid-template-columns: 1fr;
    margin-bottom: 10px;
    gap: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    grid-template-rows: 5, 20vh;
    grid-template-areas: "filtres" "h1" "inodoro" "canillas" "pisos" "plomero";
  }
  .grid-index .filtros {
    display: none;
  }
  .grid-index .presentacion {
    /* Variables locales */
    font-size: 1.6em;
    line-height: 2.5em;
    height: auto;
  }
  .grid-index .sanitarios {
    width: 100vw;
  }
  .grid-index .sanitarios img {
    width: 100vw;
  }
  .grid-index .griferias {
    width: 100vw;
  }
  .grid-index .griferias img {
    width: 100vw;
  }
  .grid-index .revestimientos {
    width: 100vw;
  }
  .grid-index .revestimientos img {
    width: 100vw;
  }
  .grid-index .instalaciones {
    width: 100vw;
  }
  .grid-index .instalaciones img {
    width: 100vw;
  }
  .container-galeria {
    width: 100%;
    height: 400px;
  }
  .container-galeria section {
    width: 100%;
    height: auto;
    border-radius: none;
  }
  .container-galeria section img {
    object-fit: cover;
  }
  .container-galeria section img:hover {
    width: 285px;
  }
  .container-galeria section .galeria-none {
    display: none;
  }
  .grid-productos {
    display: grid;
    /* Variables locales */
    grid-template-columns: 1fr;
    margin-bottom: 10px;
    gap: 15vh;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    grid-template-areas: "liquido" "gases" "desechos" "bombero";
  }
  .grid-productos .agua {
    width: 100%;
    border: none;
  }
  .grid-productos .agua .container-section-product {
    /* Variables locales */
    border: solid 2px black;
    border-radius: 10px;
    background-color: black;
    width: 80%;
  }
  .grid-productos .agua .container-section-product h2 {
    font-size: 2.2em;
    color: wheat;
  }
  .grid-productos .agua .container-section-product p {
    padding: 0 10px;
    line-height: 2em;
    color: white;
  }
  .grid-productos .agua .container-section-product p:hover {
    /* Variables locales */
    background-color: white;
    color: black;
  }
  .grid-productos .gas {
    width: 100%;
    border: none;
  }
  .grid-productos .gas .container-section-product {
    /* Variables locales */
    border: solid 2px black;
    border-radius: 10px;
    background-color: black;
    width: 80%;
  }
  .grid-productos .gas .container-section-product h2 {
    font-size: 2.2em;
    color: wheat;
  }
  .grid-productos .gas .container-section-product p {
    color: white;
  }
  .grid-productos .gas .container-section-product p:hover {
    /* Variables locales */
    background-color: white;
    color: black;
  }
  .grid-productos .cloaca {
    width: 100%;
    border: none;
    height: 100%;
  }
  .grid-productos .cloaca .container-section-product {
    /* Variables locales */
    border: solid 2px black;
    border-radius: 10px;
    background-color: black;
    width: 80%;
  }
  .grid-productos .cloaca .container-section-product h2 {
    font-size: 2.2em;
    color: wheat;
  }
  .grid-productos .cloaca .container-section-product p {
    padding: 0 10px;
    line-height: 2em;
    color: white;
  }
  .grid-productos .cloaca .container-section-product p:hover {
    /* Variables locales */
    background-color: white;
    color: black;
  }
  .grid-productos .cloaca .container-section-product .contenedor figure img {
    height: 350px;
  }
  .grid-productos .incendio {
    width: 100%;
    border: none;
    height: 100%;
  }
  .grid-productos .incendio .container-section-product {
    /* Variables locales */
    border: solid 2px black;
    border-radius: 10px;
    background-color: black;
    width: 80%;
    height: 100%;
  }
  .grid-productos .incendio .container-section-product h2 {
    font-size: 2.2em;
    color: wheat;
  }
  .grid-productos .incendio .container-section-product p {
    padding: 0 10px;
    line-height: 2em;
    display: block;
    color: white;
  }
  .grid-productos .incendio .container-section-product p:hover {
    /* Variables locales */
    background-color: white;
    color: black;
  }
  .grid-productos .incendio .container-section-product .contenedor figure img {
    height: 350px;
  }
  .container-section2 {
    width: 100%;
    margin: 100px 0;
  }
  .container-section2 .cont-section2 {
    width: 100%;
  }
  .container-section2 .cont-section2 .agrupacion {
    width: 100%;
    border: none;
  }
  .container-section2 .cont-section2 .agrupacion .producto-section2 .d-logos .b-image-agua {
    width: 80%;
  }
  .container-section2 .cont-section2 .agrupacion .producto-section2 .d-logos .b-image-gas {
    width: 80%;
  }
  .container-section2 .cont-section2 .agrupacion .producto-section2 .d-logos .b-image-cloaca {
    width: 80%;
  }
  .container-fluid .animation {
    width: 100%;
  }
  .container-fluid .animation .div-container-anima {
    width: 100%;
    height: auto;
  }
  .container-fluid .animation .div-container-anima .animate {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    font-size: 0.9em !important;
  }
  .container-fluid .animation .div-container-anima .animate svg {
    display: none;
  }
  .container-fluid .animation .div-container-anima .animate .colorh-2 {
    color: wheat;
  }
  .container-fluid .media1 {
    width: 100%;
    justify-content: none;
  }
  .container-fluid .media1 .w-50 {
    width: 100%;
  }
  .container-fluid .media1 h2 {
    width: 100%;
  }
  .container-fluid .row {
    width: 90%;
  }
  .container-fluid .row .col-sm-12 .card {
    width: 80%;
    height: 100%;
    display: flex;
    /* Variables locales */
    flex-direction: column;
    justify-content: center;
  }
  .grid-conocenos {
    display: grid;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "principal" "principal" "video" "boton" "boton";
    width: 100%;
    row-gap: 130px;
    gap: 100px;
    margin-bottom: 30px;
  }
  .grid-conocenos .h1-conocenos h1 {
    width: 100%;
  }
  .grid-conocenos .desarrollo {
    display: flex;
    /* Variables locales */
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    width: 100%;
  }
  .grid-conocenos .desarrollo .d-flex-desarrollo {
    display: block;
    width: auto;
    background-color: black;
    border-radius: 10px;
  }
  .grid-conocenos .desarrollo .d-flex-desarrollo img {
    height: auto;
    width: 100%;
  }
  .grid-conocenos .desarrollo .d-flex-desarrollo .container-p {
    height: auto;
    width: auto;
  }
  .grid-conocenos .desarrollo .d-flex-desarrollo .container-p p {
    color: black;
    /* Variables locales */
    font-size: auto;
    line-height: auto;
  }
  .grid-conocenos .desarrollo .d-flex-desarrollo .container-p p:hover {
    /* Variables locales */
    background-color: white;
    color: black;
  }
  .grid-conocenos .carousell {
    display: none;
  }
  .grid-conocenos .multime {
    width: 100%;
    display: flex;
    /* Variables locales */
    flex-direction: row;
    justify-content: center;
  }
  .grid-conocenos .multime .container-video {
    /* Variables locales */
    width: 100%;
    height: 100%;
    margin: 2px;
    border: none;
    border-radius: 20px;
  }
  .grid-conocenos .multime .container-video .iframe-video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .grid-conocenos .buton {
    display: flex;
    /* Variables locales */
    justify-content: center;
    align-items: flex-start;
    border: solid 2px black;
    height: auto;
    width: 100%;
    margin-bottom: 100px;
    background-color: black;
  }
  .grid-conocenos .buton .img-buton {
    width: 80%;
    height: auto;
    display: block;
    justify-content: center;
    background-color: white;
  }
  .grid-conocenos .buton .img-buton .container-img-cono {
    height: 30vh;
    width: 100%;
    /* Variables locales */
    animation-name: animation-background;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .grid-conocenos .buton .img-buton .conocenos-p {
    width: 100%;
    height: auto;
    /* Variables locales */
    font-size: 1em;
    line-height: 1.8em;
  }
  .grid-conocenos .buton .wsp {
    width: 100%;
    height: auto;
    display: flex;
    /* Variables locales */
    flex-direction: row;
    justify-content: center;
  }
  .grid-conocenos .buton .wsp .cont-a-wsp {
    height: auto;
    width: 80%;
    background-color: white;
  }
  .section-container-contactanos {
    width: 100%;
  }
  .section-container-contactanos .disposicion-contenidos {
    width: 100%;
  }
  .section-container-contactanos .disposicion-contenidos .ancho1 {
    height: auto;
  }
  .section-container-contactanos .disposicion-contenidos .ancho1 p {
    height: auto;
    font-size: 1.2em;
  }
  .section-container-contactanos .disposicion-contenidos .conteiner-formularios {
    display: flex;
    /* Variables locales */
    flex-direction: row;
    justify-content: center;
    width: 90%;
  }
  .section-container-contactanos .disposicion-contenidos .conteiner-formularios .b-g {
    width: 100%;
  }
  .section-container-contactanos .disposicion-contenidos .conteiner-formularios .b-g form {
    width: 100%;
  }
  .section-container-contactanos .disposicion-contenidos .conteiner-formularios .b-g form .border-form .tamanos-formularios {
    width: 100%;
  }
  .section-container-contactanos .disposicion-contenidos .conteiner-formularios .b-g form .border-form .tamanos-formularios input {
    width: 80%;
  }
  .section-container-contactanos .disposicion-contenidos .ancho {
    width: 90%;
  }
  .d-h2 {
    width: 100%;
  }
  .d-h2 .indicacion-iframe {
    width: 90%;
  }
  .d-h2 .indicacion-iframe .mb-w {
    width: 20px;
    height: auto;
  }
  .find-us {
    margin-bottom: 50px;
  }
  .find-us .iframe-contactos {
    width: 90%;
  }
  .not-found {
    width: 100%;
  }
  .not-found .contenedor-fluid-error404 {
    height: 60vh;
    width: 100%;
    display: flex;
    /* Variables locales */
    justify-content: center;
    align-items: flex-start;
  }
  .not-found .contenedor-fluid-error404 main {
    width: 100%;
    height: 100%;
  }
  .not-found .contenedor-fluid-error404 main .contenedor-section-404 {
    margin-top: 10px;
    width: 100%;
    height: 100%;
  }
  .not-found .contenedor-fluid-error404 main .contenedor-section-404 h1 {
    font-size: 1.5em;
    width: 100%;
  }
  .not-found .contenedor-fluid-error404 main .contenedor-section-404 h2 {
    width: 100%;
    text-align: center;
  }
  .not-found .contenedor-fluid-error404 main .contenedor-section-404 p {
    display: none;
  }
  .not-found .contenedor-fluid-error404 main .contenedor-section-404 .buton-404 {
    width: 100%;
    display: flex;
    /* Variables locales */
    flex-direction: row;
    justify-content: center;
  }
  .flex-conteiner-multimedia {
    width: 100vw;
    height: 50vh;
    display: flex;
  }
  .flex-conteiner-multimedia .w-section {
    width: 100%;
  }
  .flex-conteiner-multimedia .w-section .w-65 {
    width: 100%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
  }
  .flex-conteiner-multimedia .w-section .w-65 .d-flex-1 {
    width: 100%;
    display: flex;
    /* Variables locales */
    flex-direction: row;
    justify-content: center;
  }
  .flex-conteiner-multimedia .w-section .w-65 .d-flex-1 .wrap-svg-1 {
    width: 100vw;
    display: flex;
    /* Variables locales */
    flex-direction: row;
    justify-content: center;
    margin: 10px 10px;
  }
  .flex-conteiner-multimedia .w-section .w-65 .d-flex-1 .wrap-svg-2 {
    display: flex;
    /* Variables locales */
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    margin-top: 18px;
  }
  .flex-conteiner-multimedia .w-section .w-65 .d-flex-1 .wrap-svg-2 .edit-audio {
    width: 80%;
  }
  .flex-conteiner-multimedia .w-section .w-65 .flex-w {
    display: flex;
    /* Variables locales */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .flex-conteiner-multimedia .w-section .w-65 .d-flex-2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .flex-conteiner-multimedia .w-section .w-65 .d-flex-2 .flex-wrap-2 {
    width: 100vw;
    display: flex;
    /* Variables locales */
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
  }
  .flex-conteiner-multimedia .w-section .w-65 .d-flex-2 .flex-wrap-2-w {
    width: 100vw;
    text-align: center;
  }
  /* responsive aplicado al footer */
  footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  footer .container-wrap {
    width: 100%;
    display: flex;
    /* Variables locales */
    flex-direction: row;
    justify-content: center;
  }
  footer .container-wrap .css-text {
    display: flex;
    /* Variables locales */
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
  .text-edit {
    overflow: hidden;
    text-align: center;
    font-size: 0.8em;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .container-flex-carousel .w-65 {
    width: 100vw;
  }
  .cont-h11 .box-h11 {
    width: 100%;
  }
  .cont-h11 .box-h11 h1 {
    width: 100%;
  }
  .grid-index {
    display: grid;
    /* Variables locales */
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30px;
    gap: 15px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    grid-template-rows: 4, 20vh;
    grid-template-areas: "h1 h1" "inodoro canillas" "pisos plomero" "filtres filtres";
    padding: 0 2vw;
  }
  .grid-index .filtros {
    display: none;
  }
  .container-galeria {
    width: 100%;
  }
  .container-galeria section {
    width: 100%;
  }
  .grid-productos {
    display: grid;
    /* Variables locales */
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30px;
    gap: 15px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    grid-template-areas: "liquido gases" "desechos bombero";
    row-gap: 10vh;
  }
  .grid-productos .incendio .container-section-product .contenedor figure img {
    height: 450px;
  }
  .grid-productos .incendio .container-section-product p {
    display: block;
  }
  .grid-productos .cloaca .container-section-product .contenedor figure img {
    height: 450px;
  }
  .container-section2 {
    padding: 0 15px;
    width: 100%;
  }
  .container-section2 .cont-section2 {
    width: 100%;
  }
  .container-section2 .cont-section2 .agrupacion {
    width: 100%;
  }
  .container-section2 .cont-section2 .agrupacion .producto-section2 {
    width: 100%;
  }
  .container-section2 .cont-section2 .agrupacion .producto-section2 .d-logos .t-img {
    width: 100%;
  }
  .container-fluid .animation {
    width: 100%;
  }
  .container-fluid .animation .div-container-anima {
    width: 100%;
    height: auto;
  }
  .container-fluid .animation .div-container-anima .animate {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
  }
  .container-fluid .animation .div-container-anima .animate .color-h2 {
    margin-right: 5px;
    font-size: 1em;
  }
  .container-fluid .media1 {
    width: 100%;
    justify-content: none;
  }
  .container-fluid .media1 .w-50 {
    width: 100%;
  }
  .container-fluid .media1 h2 {
    width: 100%;
  }
  .container-fluid .row {
    width: 100%;
  }
  .container-fluid .row .col-md-6 .card {
    display: flex;
    /* Variables locales */
    flex-direction: column;
    justify-content: center;
    height: 600px;
    width: 450px;
  }
  .grid-conocenos {
    display: grid;
    /* Variables locales */
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 35px;
    gap: 15px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    grid-template-areas: "titulo titulo" "principal movimiento" "principal video" "boton boton";
    row-gap: 5vh;
  }
  .grid-conocenos .desarrollo {
    width: auto;
    height: auto;
    display: flex;
    margin-left: 10px;
    background-color: black;
  }
  .grid-conocenos .desarrollo .d-flex-desarrollo {
    width: 100%;
  }
  .grid-conocenos .desarrollo .d-flex-desarrollo img {
    width: 100%;
    height: auto;
  }
  .grid-conocenos .desarrollo .d-flex-desarrollo .container-p {
    display: flex;
    /* Variables locales */
    flex-direction: row;
    justify-content: center;
  }
  .grid-conocenos .desarrollo .d-flex-desarrollo .container-p p {
    color: black;
    height: auto;
  }
  .grid-conocenos .desarrollo .d-flex-desarrollo .container-p p:hover {
    /* Variables locales */
    background-color: white;
    color: black;
    width: auto;
    border-radius: 10px;
  }
  .grid-conocenos .carousell {
    width: 100%;
    height: 100%;
  }
  .grid-conocenos .carousell .container-carousell {
    width: 95%;
    height: 100%;
  }
  .grid-conocenos .carousell .container-carousell img {
    width: 100%;
  }
  .grid-conocenos .multime {
    width: 97%;
  }
  .grid-conocenos .multime .container-video {
    width: 100%;
  }
  .grid-conocenos .buton {
    display: flex;
    /* Variables locales */
    border: solid 2px black;
    border-radius: none;
    background-color: black;
  }
  .grid-conocenos .buton .img-buton {
    width: 100%;
    height: 80%;
    display: flex;
  }
  .grid-conocenos .buton .img-buton .container-img-cono .produ-img {
    width: 100%;
    height: 100%;
  }
  .grid-conocenos .buton .img-buton .conocenos-p {
    display: flex;
    /* Variables locales */
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 60%;
    font-size: 1em;
    max-width: 100%;
    height: 100%;
  }
  .grid-conocenos .buton .wsp {
    display: flex;
    /* Variables locales */
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 15%;
  }
  .grid-conocenos .buton .wsp .cont-a-wsp {
    height: auto;
    width: 40%;
    height: 100%;
  }
  .grid-conocenos .buton .wsp .cont-a-wsp a {
    padding: 0;
  }
  .section-container-contactanos {
    width: 100%;
  }
  .section-container-contactanos .disposicion-contenidos {
    width: 70%;
  }
  .section-container-contactanos .disposicion-contenidos .ancho1 {
    height: auto;
  }
  .section-container-contactanos .disposicion-contenidos .ancho1 p {
    height: auto;
    font-size: 1.2em;
  }
  .section-container-contactanos .disposicion-contenidos .conteiner-formularios {
    display: flex;
    /* Variables locales */
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .section-container-contactanos .disposicion-contenidos .conteiner-formularios .b-g {
    width: 100%;
  }
  .section-container-contactanos .disposicion-contenidos .conteiner-formularios .b-g form {
    width: 100%;
  }
  .section-container-contactanos .disposicion-contenidos .conteiner-formularios .b-g form .border-form .tamanos-formularios {
    width: 65%;
  }
  .section-container-contactanos .disposicion-contenidos .conteiner-formularios .b-g form .border-form .tamanos-formularios input {
    width: 65%;
  }
  .section-container-contactanos .disposicion-contenidos .ancho {
    width: 90%;
  }
  .d-h2 {
    width: 100%;
  }
  .d-h2 .indicacion-iframe {
    width: 90%;
  }
  .d-h2 .indicacion-iframe .mb-w {
    width: 20px;
    height: auto;
  }
  .find-us {
    margin-bottom: 50px;
  }
  .find-us .iframe-contactos {
    width: 90%;
  }
  .flex-conteiner-multimedia {
    width: 100%;
    height: 15vh;
    padding: 0 2vw;
  }
  .flex-conteiner-multimedia .w-section {
    width: 100%;
  }
  .flex-conteiner-multimedia .w-section .w-65 {
    width: 100%;
  }
  .flex-conteiner-multimedia .w-section .w-65 .d-flex-1 .wrap-svg-1 {
    margin-right: 10px;
  }
}
@media (min-width: 1201px) and (max-width: 1900px) {
  .flex-conteiner-multimedia {
    width: 100%;
    height: 15vh;
    padding: 0 2vw;
  }
  .flex-conteiner-multimedia .w-section {
    width: 100%;
  }
  .flex-conteiner-multimedia .w-section .w-65 {
    width: 65%;
  }
  .flex-conteiner-multimedia .w-section .w-65 .d-flex-1 {
    width: auto;
  }
  .flex-conteiner-multimedia .w-section .w-65 .d-flex-1 .wrap-svg-1 {
    margin-right: 10px;
  }
}
@media (min-width: 992px) and (max-width: 1430px) {
  .grid-index .filtros {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
