@import url("https://fonts.googleapis.com/css2? family= Oswald:wght@400;500 & family= Roboto & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira:wght@300;400;500&display=swap");
.img-extend, .grid-index .instalaciones img, .grid-index .revestimientos img, .grid-index .griferias img, .grid-index .sanitarios img {
  width: 100%;
  height: auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.gd-prod-h2, .grid-productos .incendio .container-section-product h2, .grid-productos .cloaca .container-section-product h2, .grid-productos .gas .container-section-product h2, .grid-productos .agua .container-section-product h2 {
  text-align: center;
  background-color: black;
  color: wheat;
}

.img-extend-productos, .grid-productos .incendio img, .grid-productos .cloaca img, .grid-productos .gas img, .grid-productos .agua img {
  width: 100%;
  height: 70%;
  overflow: hidden;
  margin-top: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.articles-prod, .grid-productos .incendio, .grid-productos .cloaca, .grid-productos .gas, .grid-productos .agua {
  border: solid 3px black;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.producto-section2-, .container-section2 .agrupacion .producto-section2 {
  border: solid 2px black;
  padding: 10px 10px;
  margin: 10px 10px;
  text-align: center;
  border-radius: 10px;
}

.form-column-formularios, .section-container-contactanos .disposicion-contenidos .conteiner-formularios .b-g form .border-form .column-formularios, .section-container-contactanos .disposicion-contenidos .conteiner-formularios .b-g form .border-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* //septimo extend aplicado en "grid-index" en MEDIA Q
.st{
    width: 100vw;
    img{
        width: 100vw;
    }
} */
* {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  box-sizing: border-box;
}

.bg-wheat {
  background-color: wheat;
}

header .container-flex-carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}
header .w-65 {
  width: 65%;
}
@media (min-width: 290px) and (max-width: 767px) {
  header .w-65 {
    width: 100vw;
  }
}

.cont-h11 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.cont-h11 .box-h11 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 65%;
  margin: 30px 0;
  border-radius: 20px;
  background-color: black;
}
.cont-h11 .box-h11 h1 {
  font-size: 3em;
  line-height: 2.5em;
  color: white;
  text-align: center;
  font-family: "Saira", sans-serif;
  font-weight: 500;
}

h2 {
  font-family: "Saira", sans-serif;
  font-weight: 400;
}

.text-edit {
  font-size: 1em;
  line-height: 1.9em;
  color: black;
  text-align: center;
}
.text-edit p:hover {
  background-color: black;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.flex-conteiner-multimedia {
  width: 100%;
  height: 100px;
  display: flex;
}
.flex-conteiner-multimedia .w-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  color: white;
}
.flex-conteiner-multimedia .w-section .w-65 {
  width: 65%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border: 0;
  border-radius: 20px;
  background-color: black;
}
.flex-conteiner-multimedia .w-section .w-65 .d-flex-1 {
  width: 32%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.flex-conteiner-multimedia .w-section .w-65 .d-flex-1 .wrap-svg-1 svg {
  width: 60px;
  height: 60px;
  margin: 0;
  border: 0;
  border-radius: 10px;
  background-color: white;
  color: black;
  margin-left: 15px;
}
.flex-conteiner-multimedia .w-section .w-65 .d-flex-2 {
  width: 32%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.flex-conteiner-multimedia .w-section .w-65 .d-flex-2 .flex-wrap-2 svg {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}
.flex-conteiner-multimedia .w-section .w-65 .flex-wrap-2-w .edit-p {
  font-size: 0.8em;
  line-height: 1.5em;
  color: wheat;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  margin-top: 20px;
  width: 100%;
}
footer .container-wrap .multimedia-redes {
  width: 50px;
  margin: 5px 5px;
  border-radius: 10px;
}
footer .container-wrap .svg-fb {
  color: blue;
  padding: 8px 8px;
}
footer .container-wrap .svg-fb:hover {
  color: white;
}
footer .container-wrap .svg-insta {
  color: violet;
  padding: 8px 8px;
}
footer .container-wrap .svg-insta:hover {
  color: white;
}
footer .container-wrap .svg-twitter {
  padding: 8px 8px;
}
footer .container-wrap .svg-twitter:hover {
  color: white;
}
footer .container-wrap .css-text {
  font-size: 1.5em;
  line-height: 1.7em;
  color: white;
  text-align: right;
}

.contenedor figure {
  margin-top: 20px;
  position: relative;
  height: 45%;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  border-radius: 6px;
}
.contenedor figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}
.contenedor figure:hover > .capa h3 {
  display: inline-block;
  margin-top: 70px;
  margin-bottom: 15px;
}
.contenedor figure:hover > img {
  transform: scale(1.3);
}
.contenedor figure img {
  width: 110%;
  height: 100%;
  transition: all 400ms ease-out;
  will-change: transform;
}
.contenedor figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(238, 201, 132, 0.877);
  transition: all 400ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.contenedor figure .capa h3 {
  font-size: 2em;
  line-height: 2.2em;
  color: black;
  text-align: center;
  font-weight: 400;
  font-family: "Saira", sans-serif;
  margin-bottom: 120px;
  margin-top: 30px;
}
.contenedor figure .capa .wsp {
  text-decoration: none;
}
.contenedor figure .capa .wsp a {
  border: 2px solid black;
  border-radius: 8px;
  background-color: black;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  color: white;
}
.contenedor figure .capa .wsp button {
  background-color: rgb(120, 224, 120);
  color: white;
  border-radius: 8px;
}

.grid-index {
  display: grid;
  grid-template-columns: repeat(6, 15vw);
  margin-bottom: 25px;
  gap: 30px;
  width: 100%;
  justify-content: center;
  grid-template-areas: "filtres h1 h1 canillas canillas" "filtres inodoro inodoro canillas canillas" "filtres inodoro inodoro pisos pisos" "filtres plomero plomero pisos pisos";
}
.grid-index .presentacion {
  grid-area: h1;
  font-size: 2.1em;
  line-height: 2.8em;
  color: white;
  text-align: center;
  border: 0px;
  border-radius: 10px;
  background-color: black;
  margin-top: 20px;
}
.grid-index .sanitarios {
  grid-area: inodoro;
}
.grid-index .griferias {
  grid-area: canillas;
}
.grid-index .revestimientos {
  grid-area: pisos;
  overflow: hidden;
}
.grid-index .instalaciones {
  grid-area: plomero;
}
.grid-index .filtros {
  grid-area: filtres;
  display: flex;
  flex-direction: column;
}
.grid-index .filtros form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border: wheat solid 1px;
  border-radius: 20px;
  background-color: black;
  margin-top: 25vh;
}
.grid-index .filtros form .edit-conteiner-filtros {
  border: white solid 2px;
  border-radius: 10px;
  background-color: wheat;
  margin: 10px 0;
}
.grid-index .filtros form .edit-conteiner-filtros .categories {
  margin-bottom: 25px;
  color: white;
  background-color: black;
  font-size: 1em;
}
.grid-index .filtros ul li {
  list-style: none;
}
.grid-index .filtros ul li a {
  font-size: 0.9em;
  line-height: 2em;
  text-decoration: none;
  color: rgb(104, 104, 233);
}
.grid-index .filtros ul li a:hover {
  color: white;
  background-color: black;
}

.grid-productos {
  display: grid;
  grid-template-columns: 18vw 27vw 18vw;
  margin-bottom: 100px;
  gap: 10px;
  width: 100%;
  justify-content: center;
  row-gap: 100px;
  grid-template-areas: "liquido desechos gases" "liquido desechos gases" "liquido bombero gases";
  /* Declarando los grid-area */
}
.grid-productos .agua {
  grid-area: liquido;
}
.grid-productos .agua .container-section-product {
  width: 100%;
}
.grid-productos .gas {
  grid-area: gases;
}
.grid-productos .gas .container-section-product {
  width: 100%;
}
.grid-productos .cloaca {
  grid-area: desechos;
  overflow: hidden;
}
.grid-productos .cloaca .container-section-product {
  width: 100%;
}
.grid-productos .incendio {
  grid-area: bombero;
}
.grid-productos .incendio .container-section-product {
  width: 100%;
}
.grid-productos .incendio .container-section-product p {
  display: none;
}
.container-section2 {
  margin: 50px 0;
}
.container-section2 .cont-section2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-section2 .agrupacion {
  width: 65%;
  border: solid 2px black;
  margin-bottom: 25px;
  display: flex;
}
.container-section2 .agrupacion .producto-section2 h2 {
  background-color: black;
  color: white;
  margin-bottom: 30px;
}
.container-section2 .agrupacion .producto-section2 .h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-section2 .agrupacion .producto-section2 .h3 .bg-h3 {
  width: 65%;
  background-color: wheat;
}
.container-section2 .agrupacion .producto-section2 .h3 .bg-h3 h3 {
  margin-bottom: 15px;
}
.container-section2 .agrupacion .producto-section2 p {
  font-size: 1.5em;
  margin-bottom: 50px;
  padding: 30px 0;
}
.container-section2 .agrupacion .producto-section2 .d-logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container-section2 .agrupacion .producto-section2 .d-logos a .t-img {
  padding: 0 45px;
}
.container-section2 .agrupacion .producto-section2 .d-logos a .t-img2 {
  width: 250px;
  height: 250px;
  margin: 0 45px;
}

.container-fluid .colorh-2 {
  background-color: wheat;
  color: black;
}
.container-fluid .border-text {
  border: solid 5px black;
  border-radius: 0;
  background-color: wheat;
}
.container-fluid .border-sec {
  border: solid 5px wheat;
  border-radius: 20px;
  background-color: black;
}
.container-fluid .w-65 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  background-color: black;
  border-radius: 20px;
}
.container-fluid .w-65 .card {
  width: 500px;
  height: 58vh;
  display: flex;
  border: solid 2px wheat;
  margin: 10px;
}
.container-fluid .w-65 .card .width {
  height: 50vh;
  width: 100%;
}
.container-fluid .w-65 .card .bord-img {
  border-bottom: solid 2px black;
}

.grid-conocenos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 60px;
  gap: 2px;
  width: 100%;
  grid-template-rows: 230px repeat(2, 50vh) 300px;
  grid-template-areas: "titulo titulo" "principal movimiento" "principal video" "boton boton";
  justify-content: center;
  /* Declarando areas del Grid page "CONOCENOS" */
}
.grid-conocenos .h1-conocenos {
  grid-area: titulo;
}
.grid-conocenos .desarrollo {
  grid-area: principal;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  overflow: hidden;
}
.grid-conocenos .desarrollo .d-flex-desarrollo {
  display: inline-block;
  width: 65%;
  border: solid 2px black;
  overflow: hidden;
}
.grid-conocenos .desarrollo .d-flex-desarrollo img {
  width: 100%;
  height: 50%;
  padding: 10px 10px;
  margin-bottom: 30px;
  background-color: black;
}
.grid-conocenos .desarrollo .d-flex-desarrollo .container-p p {
  font-size: 1.5em;
  line-height: 1.6em;
  color: black;
  text-align: center;
  padding: 0 15px;
  overflow: hidden;
}
.grid-conocenos .desarrollo .d-flex-desarrollo .container-p p:hover {
  color: wheat;
}
.grid-conocenos .carousell {
  grid-area: movimiento;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.grid-conocenos .carousell .container-carousell {
  width: 63.5%;
  margin-left: 10px;
}
.grid-conocenos .multime {
  grid-area: video;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.grid-conocenos .multime .container-video {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 63.5%;
  height: auto;
  margin-left: 10px;
  background-color: black;
}
.grid-conocenos .multime .container-video .iframe-video {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.grid-conocenos .buton {
  grid-area: boton;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  margin-top: 20px;
}
.grid-conocenos .buton .img-buton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 65%;
  background-color: black;
}
.grid-conocenos .buton .img-buton .container-img-cono {
  width: 40%;
  height: 100%;
}
.grid-conocenos .buton .img-buton .container-img-cono .produ-img {
  width: 100%;
  height: 100%;
}
.grid-conocenos .buton .img-buton .conocenos-p {
  font-size: 1.5em;
  line-height: 1.6em;
  color: black;
  text-align: center;
  width: 60%;
  background-color: rgb(120, 224, 120);
  padding: 0 15px;
  border-radius: 15px;
}
.grid-conocenos .buton .wsp {
  height: 40px;
  width: 65%;
  margin: 0;
  display: flex;
  background-color: black;
}
.grid-conocenos .buton .wsp .cont-a-wsp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 40%;
  height: 40px;
  background-color: rgb(120, 224, 120);
  align-items: center;
}
.grid-conocenos .buton .wsp .cont-a-wsp a {
  color: white;
  background-color: black;
  border-radius: 10px;
  text-decoration: none;
}
.grid-conocenos .buton .wsp .cont-a-wsp a:hover {
  background-color: white;
  color: black;
}
.grid-conocenos .buton .wsp .cont-a-wsp a button {
  background-color: rgb(120, 224, 120);
  color: white;
  border-radius: 8px;
}

.section-container-contactanos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}
.section-container-contactanos .disposicion-contenidos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.section-container-contactanos .disposicion-contenidos .conteiner-formularios {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.section-container-contactanos .disposicion-contenidos .conteiner-formularios .b-g {
  width: 45%;
  display: flex;
  justify-content: center;
  background-color: wheat;
  border-radius: 20px;
}
.section-container-contactanos .disposicion-contenidos .conteiner-formularios .b-g form {
  width: 90%;
  margin: 25px;
}
.section-container-contactanos .disposicion-contenidos .conteiner-formularios .b-g form .border-form {
  border: solid wheat 2px;
  border-radius: 20px;
  background-color: black;
}
.section-container-contactanos .disposicion-contenidos .conteiner-formularios .b-g form .border-form .tamanos-formularios {
  margin: 20px 0;
}
.section-container-contactanos .disposicion-contenidos .conteiner-formularios .b-g form .border-form .tamanos-formularios input {
  width: 350px;
}
.section-container-contactanos .disposicion-contenidos .conteiner-formularios .b-g form .border-form .tamanos-formularios label {
  color: white;
  margin-bottom: 5px;
}
.section-container-contactanos .disposicion-contenidos .conteiner-formularios .b-g form .border-form .button1 {
  margin: 15px 0;
}
.section-container-contactanos .disposicion-contenidos .conteiner-formularios .b-g form .border-form .button1 input {
  width: 110px;
}
.section-container-contactanos .disposicion-contenidos .conteiner-formularios .b-g form .border-form .button2 {
  margin: 15px 0;
}
.section-container-contactanos .disposicion-contenidos .ancho1 {
  width: 51%;
  margin-bottom: 50px;
}

.d-h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.d-h2 .indicacion-iframe {
  background-color: black;
  color: wheat;
  text-align: center;
  height: 5vh;
  margin-top: 40px;
  width: 65%;
}

.find-us {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 60vh;
  margin: 20px 0 35px 0;
}
.find-us .iframe-contactos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  width: 65%;
  height: 60vh;
  background-color: wheat;
}
.find-us .iframe-contactos .widthh {
  width: 100%;
}

.navegador {
  background-color: black;
  display: flex;
  width: 100%;
  height: auto;
}
.navegador img {
  width: 25%;
  height: auto;
  display: flex;
}
.navegador ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
.navegador ul li a {
  color: white;
}
.navegador ul li a:hover {
  background-color: white;
  color: black;
  text-decoration: underline;
}
.navegador .bg-form {
  background-color: white;
  border-radius: 5px;
}
.navegador .edit-button {
  background-color: white;
  color: black;
  border: solid 2px black;
  border-radius: 5px;
}

@media (min-width: 290px) and (max-width: 767px) {
  .cont-h11 {
    width: 100%;
    height: 270px;
    margin: 50px 0;
  }
  .cont-h11 .box-h11 {
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 10px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cont-h11 .box-h11 h1 {
    font-size: 2.5em;
    line-height: 1.5em;
    color: white;
    text-align: center;
    width: 70%;
  }
  .grid-index {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 10px;
    gap: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    grid-template-rows: 5, 20vh;
    grid-template-areas: "filtres" "h1" "inodoro" "canillas" "pisos" "plomero";
  }
  .grid-index .filtros {
    display: none;
  }
  .grid-index .presentacion {
    font-size: 1.6em;
    line-height: 2.5em;
    height: auto;
  }
  .grid-index .sanitarios {
    width: 100vw;
  }
  .grid-index .sanitarios img {
    width: 100vw;
  }
  .grid-index .griferias {
    width: 100vw;
  }
  .grid-index .griferias img {
    width: 100vw;
  }
  .grid-index .revestimientos {
    width: 100vw;
  }
  .grid-index .revestimientos img {
    width: 100vw;
  }
  .grid-index .instalaciones {
    width: 100vw;
  }
  .grid-index .instalaciones img {
    width: 100vw;
  }
  .grid-productos {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 10px;
    gap: 15vh;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    grid-template-areas: "liquido" "gases" "desechos" "bombero";
  }
  .grid-productos .agua {
    width: 100%;
    border: none;
  }
  .grid-productos .agua .container-section-product {
    border: solid 2px black;
    border-radius: 10px;
    background-color: black;
    width: 80%;
  }
  .grid-productos .agua .container-section-product h2 {
    font-size: 2.2em;
    color: wheat;
  }
  .grid-productos .agua .container-section-product p {
    color: white;
  }
  .grid-productos .agua .container-section-product p:hover {
    background-color: white;
    color: black;
  }
  .grid-productos .gas {
    width: 100%;
    border: none;
  }
  .grid-productos .gas .container-section-product {
    border: solid 2px black;
    border-radius: 10px;
    background-color: black;
    width: 80%;
  }
  .grid-productos .gas .container-section-product h2 {
    font-size: 2.2em;
    color: wheat;
  }
  .grid-productos .gas .container-section-product p {
    color: white;
  }
  .grid-productos .gas .container-section-product p:hover {
    background-color: white;
    color: black;
  }
  .grid-productos .cloaca {
    width: 100%;
    border: none;
    height: 100%;
  }
  .grid-productos .cloaca .container-section-product {
    border: solid 2px black;
    border-radius: 10px;
    background-color: black;
    width: 80%;
  }
  .grid-productos .cloaca .container-section-product h2 {
    font-size: 2.2em;
    color: wheat;
  }
  .grid-productos .cloaca .container-section-product p {
    color: white;
  }
  .grid-productos .cloaca .container-section-product p:hover {
    background-color: white;
    color: black;
  }
  .grid-productos .cloaca .container-section-product .text-edit .contenedor figure img {
    height: 350px;
  }
  .grid-productos .incendio {
    width: 100%;
    border: none;
    height: 100%;
  }
  .grid-productos .incendio .container-section-product {
    border: solid 2px black;
    border-radius: 10px;
    background-color: black;
    width: 80%;
    height: 100%;
  }
  .grid-productos .incendio .container-section-product h2 {
    font-size: 2.2em;
    color: wheat;
  }
  .grid-productos .incendio .container-section-product p {
    display: block;
    color: white;
  }
  .grid-productos .incendio .container-section-product p:hover {
    background-color: white;
    color: black;
  }
  .grid-productos .incendio .container-section-product .text-edit .contenedor figure img {
    height: 350px;
  }
  .container-section2 {
    width: 100%;
    margin: 100px 0;
  }
  .container-section2 .cont-section2 {
    width: 100%;
  }
  .container-section2 .cont-section2 .agrupacion {
    width: 100%;
    border: none;
  }
  .container-section2 .cont-section2 .agrupacion .producto-section2 .d-logos a .t-img {
    width: 190px;
    height: 150px;
  }
  .container-section2 .cont-section2 .agrupacion .producto-section2 .d-logos a .t-img2 {
    width: 100px;
    height: 100px;
  }
  .container-fluid .media1 {
    width: 100%;
    justify-content: none;
  }
  .container-fluid .media1 .w-50 {
    width: 100;
  }
  .container-fluid .media1 h2 {
    width: 100%;
  }
  .container-fluid .row {
    width: 90%;
  }
  .container-fluid .row .col-sm-12 .card {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .grid-conocenos {
    display: grid;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "principal" "principal" "video" "boton" "boton";
    width: 100%;
    row-gap: 130px;
    gap: 100px;
    margin-bottom: 30px;
  }
  .grid-conocenos .h1-conocenos {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    margin-right: none;
  }
  .grid-conocenos .h1-conocenos h1 {
    text-align: center;
    width: 95%;
  }
  .grid-conocenos .desarrollo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    width: 100%;
  }
  .grid-conocenos .desarrollo .d-flex-desarrollo {
    display: block;
    width: 80%;
    background-color: black;
    border-radius: 10px;
  }
  .grid-conocenos .desarrollo .d-flex-desarrollo img {
    height: 50%;
    width: 100%;
  }
  .grid-conocenos .desarrollo .d-flex-desarrollo .container-p {
    height: 80%;
  }
  .grid-conocenos .desarrollo .d-flex-desarrollo .container-p p {
    color: white;
    font-size: 1.2em;
    line-height: 1.5em;
  }
  .grid-conocenos .desarrollo .d-flex-desarrollo .container-p p:hover {
    background-color: white;
    color: black;
  }
  .grid-conocenos .carousell {
    display: none;
  }
  .grid-conocenos .multime {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .grid-conocenos .multime .container-video {
    width: 95%;
    height: 100%;
    margin: 2px;
    border: none;
    border-radius: 20px;
  }
  .grid-conocenos .multime .container-video .iframe-video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .grid-conocenos .buton {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: solid 2px black;
    height: auto;
    width: 100%;
    margin-bottom: 100px;
    background-color: black;
  }
  .grid-conocenos .buton .img-buton {
    width: 80%;
    height: auto;
    display: block;
    justify-content: center;
    background-color: white;
  }
  .grid-conocenos .buton .img-buton .container-img-cono {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  .grid-conocenos .buton .img-buton .conocenos-p {
    width: 100%;
    height: auto;
    height: auto;
    font-size: 1em;
    line-height: 1.8em;
  }
  .grid-conocenos .buton .wsp {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .grid-conocenos .buton .wsp .cont-a-wsp {
    height: auto;
    width: 80%;
    background-color: white;
  }
  /* width: 80%;
           @include containers-dos (solid 2px $colorSecundario,20px,$colorTerciario); */
  /*  .col-sm-12 .media{
         width: 300px;
         height: 55vh;
     }
     .section .row .w-65{
         width: 100%;
         height: 260%;
     }
     .box-h1{
         width: 100vw;
         display: flex;
     }
     .container-fluid h1{
         font-size: 2.3em;
         display: flex;
     }
     .card p{
         font-size: 1em;
     }

  */
  .text-edit {
    overflow: hidden;
    text-align: center;
    font-size: 0.8em;
  }
  /* responsive aplicado a clase w-65 del carousel */
  .w-65 {
    width: 100vw;
  }
  /* aplicando responsive a las seccion multimedia fuera del main  */
  .flex-conteiner-multimedia {
    width: 100vw;
    height: 50vh;
    display: flex;
  }
  .flex-conteiner-multimedia .w-section {
    width: 100%;
  }
  .flex-conteiner-multimedia .w-section .w-65 {
    width: 100%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
  }
  .flex-conteiner-multimedia .w-section .w-65 .d-flex-1 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .flex-conteiner-multimedia .w-section .w-65 .d-flex-1 .wrap-svg-1 {
    width: 100vw;
    display: flex;
    margin: 10px 10px;
    justify-content: center;
  }
  .flex-conteiner-multimedia .w-section .w-65 .d-flex-1 .wrap-svg-2 {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 18px;
  }
  .flex-conteiner-multimedia .w-section .w-65 .d-flex-1 .wrap-svg-2 .edit-audio {
    width: 80%;
  }
  .flex-conteiner-multimedia .w-section .w-65 .flex-w {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .flex-conteiner-multimedia .w-section .w-65 .d-flex-2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .flex-conteiner-multimedia .w-section .w-65 .d-flex-2 .flex-wrap-2 {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .flex-conteiner-multimedia .w-section .w-65 .d-flex-2 .flex-wrap-2-w {
    width: 100vw;
    text-align: center;
  }
  .dis-audio {
    display: flex;
    justify-content: center;
  }
  .flex-conteiner-multimedia .tamano-multimedia {
    width: 20vw;
  }
  /* responsive aplicado al footer */
  footer {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
  }
  .container-wrap {
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .container-wrap p {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  /* responsive al navegador */
  nav ul {
    display: flex;
    flex-direction: column !important;
  }
  /* INICIO de Responsive a la pagina "CONTACTOS" en mobile */
  /* aplicando css al contenido de "Contacto" */
  .section-container-contactanos {
    width: 100%;
  }
  .disposicion-contenidos {
    width: 100%;
  }
  .conteiner-formularios {
    display: flex;
    justify-content: center;
  }
  .ancho {
    width: 90%;
  }
  .d-h2 {
    width: 100%;
  }
  .d-h2 .indicacion-iframe {
    width: 90%;
  }
  .d-h2 .indicacion-iframe .mb-w {
    width: 20px;
    height: auto;
  }
  .iframe-contactos {
    width: 90%;
  }
  .find-us {
    margin-bottom: 50px;
  }
  /* fin del Responsive a "Contactos en dispositivos mobiles" */
}

/*# sourceMappingURL=main.css.map */
