@import url('https://fonts.googleapis.com/css2? family= Oswald:wght@400;500 & family= Roboto & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300;400;500&display=swap');
/*comienza el selector universal */
*{
    font-family: 'Oswald', sans-serif;
    font: weight 400 ;
    box-sizing: border-box;
    
}
/* termina selector universal */

/* comienza cuerpo */
body{
    background-color: white;
}

/* empieza el navegador */
.navegador{
    background-color: black;
    display: flex;
    width: 100%;
    height: auto;
}
    .navegador ul{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
        width:80%;
    }
              .navegador img{
                    width: 25%;
                    height: auto;
                    display: flex;
                }
                  .navegador ul li a{
                    color: white;
                  }
                    .navegador ul li a:hover{
                        background-color: white;
                        color: black;
                        text-decoration: underline;
                    } 
                    /* termina selector descendente/cascada

/* comienzan las clases para nav */

/* clase para text fijo arriba del navegador */
.bg-wheat{
    background-color: wheat;
}
/* buscador del sitio-web */
.bg-form{
    background-color: white;
    border-radius: 5px;
}  
.edit-button{
    background-color:white;
    color: black;
    border: solid 1px black;
    border-radius: 5px;
}
/* fin del navegador y sus clases*/

/* comienzo header */

.container-flex-carousel{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

/* termina header */

/* comienza contenido principal */
main

    h1{
        font-size: 3em;
        line-height: 2.5em;
        color:white;
        text-align: center;
        margin-top: 20px;
        font-family: 'Saira', sans-serif;
        font-weight: 500;
    }
    h2{
        font-family: 'Saira', sans-serif;
        font-weight: 400;
    }
    /* termina selector de grupo descendente del contenido principal */

/* clases aplicando flexbox para main */
.cont-h1{
    display: flex;
    justify-content: center;
    width: 100%;
}
.box-h1{
    display: flex;
    justify-content: center;
    background-color:black;
    width: 65%;
    margin: 30px 0;
    border-radius: 20px;
}

/* display de la section de multimedia y texto del main*/
.flex-conteiner-multimedia{
    width: 100%;
    height: 100px;
   
    display: flex;
}
.w-section{
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
}

.w-65{
    width: 65%;
    background-color:black;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 20px;
}

.d-flex-1{
    width: 32%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tamano-multimedia{
    width: 3vw;
    height: auto;
    border: 1px solid white;
    border-radius: 20px;
    color: black;
    background-color: white;
}
.d-flex-2{
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.margin-svg1{
    margin-left: 15px;
}
.margin-svg2{
    margin-right: 10px;
}
.edit-p{
    font-size:0.9;
    color:wheat;
}
/* aplicando propiedad hover al los parrafos con textos del main */
main section div article p:hover{
background-color: black;
}

/* COMIENZA SECCION DE GRIDS DEL SITIO WEB */

/* comienza acomodo de main de la home con disposicion grid */
.grid-index{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6,15vw) ;
    grid-template-areas: 
    "filtres h1 h1 canillas canillas"
    "filtres inodoro inodoro canillas canillas"
    "filtres inodoro inodoro pisos pisos"
    "filtres plomero plomero pisos pisos";
    gap: 30px;
    margin-bottom: 25px;
    width:100%;
}

/* declarando las grid area de cada parte del grid */
.grid-index .presentacion{
    grid-area: h1;
}
.grid-index .sanitarios{
    grid-area: inodoro;
}
.grid-index .griferias{
    grid-area: canillas;
}
.grid-index .revestimientos{
    grid-area: pisos;
}
.grid-index .instalaciones{
    grid-area: plomero;
}
.grid-index .filtros{
    grid-area: filtres;
}
/* aplicando css y estilo a nuestro grid-home */

/* barra filtrante de productos declarada FILTRES */
.filtros{
    margin-top: 22px;
    display: flex;
    flex-direction: column;
}
.filtros form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
    border: wheat;
    background-color: black;
    border-radius: 20px;
}
.edit-conteiner-filtros{
    border: white 2px solid;
    background-color: wheat;
    border-radius: 10px;
    margin: 10px 0;
}
.edit-conteiner-filtros .categories{
    margin-bottom: 25px;
    color: white;
    background-color: black;
    font-size: 1em;
}
.filtros ul li{
    list-style: none;
}
.filtros ul li a{
    font-size: 0.9em;
    line-height: 2em;
    text-decoration: none;
    color:rgb(104, 104, 233);
}
.filtros ul li a:hover{
    color: white;
    background-color: black;
}

/* clase aplicada a los textos de las img del main*/

/* aca quedeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee */
.text-edit{
    text-align: center;
    font-size: 1em;
    line-height: 1.9em;
    color: black;
}
/* propiedad hover aplicada a los textos de las img del main  */
.text-edit p:hover{
    background-color: black;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* presentacion = h1 del main home */
.presentacion{
    font-size: 2.1em;
    line-height: 2.8em;
    color:white;
    background-color: black;
    border-radius: 10px;
    margin-top: 20px;
}
/* primer articulo de la section + aplicado de css en el grid*/

.sanitarios img{
    width: 100%;
    height: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
/* segundo articulo de la section + aplicado de css en el dentro del grid */

/* griferias declarada en grid-area como "canillas" */
.griferias img{
    width: 100%;
    height: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/* tecer articulo de la section + aplicado de css en el dentro del grid */
/* revestimientos declarado en grid-area como pisos*/
.revestimientos{
    overflow: hidden;
    width: 100%;
    height: auto;
}
.revestimientos img{
    width: 100%;
    height: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/* cuarto articulo de la section + aplicado de css en el dentro del grid */
/* instalaciones declarado en grid-area como plomero */
.instalaciones img{
    width: 100%;
    height: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/* Propiedas hover aplicadas a las imagenes del grid pagina principal index */
.contenedor figure{
    margin-top: 20px;
   position:relative;
    height: 45%;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
}
.contenedor figure img{
    width: 110%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}
.contenedor figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(238, 201, 132, 0.877);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
   text-align: center;
}
.contenedor figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}
.contenedor figure:hover > .capa h3{
    display: inline-block;
    margin-top: 70px;
    margin-bottom: 15px;
}
.contenedor figure:hover > img{
    transform: scale(1.3);
}
.contenedor figure .capa h3{
    color: black;
    font-weight: 400;
    font-size: 2em;
    margin-bottom: 120px;
     margin-top: 30px;
}
.wsp{
    text-decoration: none;
}
.wsp a{
    text-decoration: none;
    display: inline-block;
    border: 2px solid black;
    padding: 5px ;
    color:white;
    background-color: black;
    border-radius: 8px;
}
.wsp button{
    background-color: rgba(120, 224, 120);
    color: white;
    border-radius: 8px;
}

/* finalizacion de propiedad hover a las imagenes del grid-index */

/* comienza acomodo de main de productos con disposicion grid */
.grid-productos{
    display: grid;
    grid-template-columns:18vw 27vw 18vw;
    /* grid-template-rows: 30vh 27vh 30vh; */
    grid-template-areas: 
    "liquido desechos gases"
    "liquido desechos gases"
    "liquido bombero gases";
    width: 100%;
    gap: 10px;
    justify-content: center;
    margin-bottom: 100px;
    row-gap: 100px;
    overflow: hidden;
}
/* Declarando los grid-area */
.grid-productos .agua{
    grid-area: liquido;
}
.grid-productos .gas{
    grid-area: gases;
}
.grid-productos .cloaca{
    grid-area: desechos;
}
.grid-productos .incendio{
    grid-area: bombero;
}

/* aplicando css */
.container-section-product{
    width: 100%;
}
/* Aplicado de Css en h2 del grid */
.grid-productos h2{
    text-align: center;
    background-color: black;
    color: wheat;
}
/* comienza el aplicado de css de article AGUA */
.grid-productos .agua{
    border: solid 3px black;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.grid-productos .agua img{
    width: 100%;
    height: 70%;
    overflow: hidden;
    margin-top: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* FINALIZA el aplicado de css de article AGUA */

/* comienza el aplicado de css de article GAS */
.grid-productos .gas{
    border: solid 3px black;
    display: flex;
    border-radius: 10px;
}
.grid-productos .gas img{
    width: 100%;
    height: 70%;
    overflow: hidden;
    margin-top: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* FINALIZA el aplicado de css de article GAS */

/* comienza el aplicado de css de article CLOACA */
.cloaca{
    border: solid 3px black;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}
.grid-productos .cloaca img{
    width: 100%;
    height: 70%;
    overflow: hidden;
    margin-top: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* FINALIZA el aplicado de css de article CLOACA*/

/* comienza el aplicado de css de article INCENDIO */
.incendio{
    border: solid 3px black;
    display: flex;
    border-radius: 10px;
}

.grid-productos .incendio img{
    width: 100%;
    height: 80%;
    overflow: hidden;
    margin-top: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.incendio .container-section-product p{
    display: none;
}
/* FINALIZA el aplicado de css de article INCENDIO*/

/* aplicado de css a los textos del grid */
.grid-text{
    text-align: center;
    margin-top: 15px;
}

/* termina grid-"productos" */

/* contenedor de grupo de secciones 2 de "PRODUCTOS" */
.container-section2{
    margin: 50px 0;
}
.cont-section2{
   width: 100%;
   display: flex;
   justify-content: center;
}
.agrupacion{
    width: 65%;
    border: black solid 2px;
    margin-bottom: 25px;
    display: flex;
}
/* Aplicado de css a segundas secciones de productos */
.producto-section2{
    border: solid 2px black;
    padding: 10px 10px;
    margin: 10px 10px;
    text-align: center;
    border-radius: 10px;
}
.producto-section2 h2{
    background-color: black;
    color: white;
    margin-bottom: 30px;
}
.producto-section2 h3{
    margin-bottom: 15px;
}
.producto-section2 p{
    font-size: 1.5em;
    margin-bottom: 50px;
    padding: 30px 0;
}
.d-logos{
    display: flex;
    justify-content: center;
}
.t-img{
    padding: 0 45px ;
}
.t-img2{
    width: 250px;
    height: 250px;
    margin: 0 45px ;
}
.h3{
    width: 100%;
    display: flex;
    justify-content: center;
}
.bg-h3{
    width: 65%;
    background-color: wheat;
}
/* Fin al aplicado de css del segundo grupo de secciones de "PRODUCTOS" */

/* fin de la pagina PRODUCTOS */


/* Comienza grid-"conocenos" */
.grid-conocenos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 230px repeat(2,50vh) 300px;
    grid-template-areas: 
    "titulo titulo"
    "principal movimiento"
    "principal video"
    "boton boton";
    justify-content: center;
    margin-bottom: 60px;
}
/* Declarando areas del Grid page "CONOCENOS" */
.grid-conocenos .h1-conocenos{
    grid-area: titulo;
}
.grid-conocenos .desarrollo{
    grid-area: principal;
}
.grid-conocenos .carousell{
    grid-area: movimiento;
}
.grid-conocenos .multime{
    grid-area: video;
}
.grid-conocenos .buton{
    grid-area: boton;
}

/* Aplicando css a nuestro grid page "CONOCENOS" */

/* Desarrollo = principal (imagen y texto) */
.desarrollo{
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}
.desarrollo .d-flex-desarrollo{
    display: inline-block;
    width: 65%;
    border: solid 2px black;
    overflow: hidden;
}
.desarrollo img{
    width:100%;
    height: 50%;
    padding: 10px 10px;
    margin-bottom: 30px;
    
    background-color: black;
}
.desarrollo p{
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: center;
    padding: 0 15px;
}


/* carousell conocenos= movimiento */
.carousell{
   
    display: flex;
    justify-content: flex-start;
}
.container-carousell{
    width: 63.5%;
    margin-left: 10px;
}
.width-carro{
    width: 100%;
    height: 50vh;
}
/*  multime = video */
.multime{
    
    display: flex;
    justify-content: flex-start;
}
.multime .container-video{
    display: flex;
    justify-content: center;
    
    width: 63.5%;
    height: auto;
    margin-left: 10px;
    background-color: black;
}
.multime .container-video .iframe-video{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
/* comienza article declarado en grid=buton*/
.grid-conocenos .buton{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20px;
}
.buton .wsp{
    height: 40px;
    width: 65%;
    margin: 0;
    display: flex;
}
.cont-a-wsp{
    width: 40%;
    height: 40px;
    display: flex;
    justify-content: center;
    background-color: black;
}

.img-buton{
    height: 250px;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-buton .conocenos-p{
   width: 60%;
   font-size: 1.5em;
   background-color: rgba(120, 224, 120);
   padding: 0 15px;
   border-radius: 15px;
   text-align: center;
}
.container-img-cono{
    width: 40%;
    height: 100%;
}
.produ-img{
    width: 100%;
    height: 100%;
    
}
/* termina article buton de "conocenos" */

/* termina grid-"conocenos" */

/* COMIENZA SECCION DE GRIDS DEL SITIO WEB */


/* Comienza el ESTILO css de la pagina "OFERTAS" */
.card{
    width: 500px;
    height: 58vh;
    display: flex;
    border: solid 2px wheat;
    margin: 10px;
}
.card .width{
    height: 50vh;
    width: 100%;
}

.border-text{
    border: solid 5px black;
    background-color: wheat;
}

.border-sec{
    border-radius: 20px;
    background-color: black;
    border: solid 5px wheat;
}
.colorh-2{
    color:black;
    background-color: wheat;
}
.bord-img{
    border-bottom: 1px solid black;
}
.color-h3{
    color: wheat;
}
.edit-h1-ofertas{
    
    margin-top: 20px;
    font-size: 3em;
}

/* Comienza el ESTILO css de la pagina "Contactanos" */
.section-container-contactanos{
    display: flex;
    justify-content: center;
    width: 100%;
}
.disposicion-contenidos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 65%;
    
}
.column-formularios{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-right: 90px; */
    
}
.ancho{
    width: 51%;
}
.section-container-contactanos form{
    margin-top: 25px;
}
.tamanos-formularios{
    margin: 10px 0;
}
.border-form{
    border-radius: 20px;
    border: solid 3px black;
    /* padding: 1vh 0 1vh 7vw; */
    background-color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
}
.find-us{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60vh;
    margin: 20px 0 35px 0;
}
.iframe-contactos{
    width: 65%;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: wheat;
}
.widthh{
    width: 100%;
}
.d-h2{
    display: flex;
    justify-content: center;
}
.indicacion-iframe{
    text-align: center;
    height: 5vh;
    margin-top: 40px;
    background-color: black;
    color: wheat;
    width: 65%;
}
/* Termina el ESTILO css de la pagina "Contactanos" */



/* comienza pie de pagina */
footer{
    display: flex;
    justify-content: space-between;
    background-color:black;
    margin-top: 20px;
    width: 100%;
}
.multimedia-redes{
width: 50px;
margin: 5px 5px;
border-radius: 10px;
}
.svg-fb{
    color: blue;
    padding: 8px 8px;
}
.svg-insta{
    color:violet;
    padding: 8px 8px;
}
.svg-twitter{
    padding: 8px 8px;
}
.css-text{
    text-align: right;
    color: white;
    font-size: 1.5em;
}
/* propiedad hover en svg footer */
.svg-fb:hover{
   color: white
}
.svg-insta:hover{
    color: white
}
.svg-twitter:hover{
    color: white
}
/* Fin de footer */

/* aplicando las media queries para nuestro grid de la pagina principal */
/* con el metodo MOBILE-FIRST */

/* medias aplicadas al responsive a resoluciones de MOBILE */

/* responsive a grid index- pagina principal */
@media(min-width:290px) and (max-width:767px){
    .grid-index{
        display: grid;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        overflow: hidden;
        grid-template-columns: 1fr;
        grid-template-rows: 5,20vh;
        grid-template-areas: 
        "filtres"
        "h1"
        "inodoro"
        "canillas"
        "pisos"
        "plomero";
        width: 100%;
    }
    .presentacion{
        height: 20vh;
        font-size: 1.6em;
        line-height: 2.5em;
    }
    .sanitarios{
        width: 100vw;
    }
    .sanitarios img{
        width: 100vw;
    }
    .griferias{
        width: 100vw;
    }
    .griferias img{
        width: 100vw;
    }
    .revestimientos{
        width: 100vw;
    }
    .revestimientos img{
        width: 100vw;
    }
    .instalaciones{
        width: 100vw;
    }
    .instalaciones img{
        width: 100vw;
    }
    .filtros{
        display: none;
    }
    .text-edit{
        overflow: hidden;
        text-align: center;
        font-size: 0.80em;
    }

    /* responsive aplicado a clase w-65 del carousel */
    .w-65{
        width: 100vw;
    }

    /* responsive MOBILE de la pagina web "OFERTAS" */
    .col-sm-12 .media{
        width: 300px;
        height: 55vh;
    }
    .section .row .w-65{
        width: 100%;
        height: 260%;
    }
    .box-h1{
        width: 100vw;
        display: flex;
    }
    .container-fluid h1{
        font-size: 2.3em;
        display: flex;
    }
    .card p{
        font-size: 1em;
    }

    /* aplicando responsive a las seccion multimedia fuera del main  */
    .flex-conteiner-multimedia{
        width: 100vw;
        height: 50vh;
        display: flex;
    }
    .w-section{
        width: 100vw;
    }
    .flex-conteiner-multimedia .w-65{
        background-color: black;
        display: flex;
        flex-wrap: wrap;
    }
    .flex-conteiner-multimedia .d-flex-1{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .flex-conteiner-multimedia .d-flex-2{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .dis-audio{
        display: flex;
        justify-content: center;
    }
    .flex-w{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .wrap-svg-1{
        width: 100vw;
        display: flex;
        margin: 10px 10px;
        justify-content: center;
    }
    .wrap-svg-2{
        display: flex;
        justify-content: center;
        width: 100vw;
        margin-top: 18px;
    }
    .flex-conteiner-multimedia .edit-audio{
        width: 80%;
       
    }
    .flex-conteiner-multimedia .tamano-multimedia{
        width: 20vw;
    }
    .flex-wrap-2{
        width: 100vw;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .flex-wrap-2-w{
        width: 100vw;
        text-align: center;
    }
    /* responsive aplicado al footer */
    footer{
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
    }
    .container-wrap{
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    .container-wrap p{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    /* responsive al navegador */
    nav ul{
        display:flex;
        flex-direction: column  !important;
    }

    /* Responsive al grid-productos */
    .grid-productos{
        display: grid;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        overflow: hidden;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "liquido"
        "gases"
        "desechos"
        "bombero";
        width: 100%;
        gap: 20vh;
    }
 
    
    /* APLICANDO MQ a los elementos de mi GRID */

    .grid-productos h2{
        font-size: 2.2em;
        color: white;
    }
   /* MEDIA Q para los diferentes articulos del grid */

   /* articulo "agua" */
    .grid-productos .agua{
        width: 100%;
        
        display: flex;
        justify-content: center;
        border: solid 2px white;
    }
    /* articulo "gas" */
    .grid-productos .gas{
        width: 100%;
        display: flex;
        justify-content: center;
        border: solid 2px white;
    }
    /* articulo "cloaca" */
    .grid-productos .cloaca{
        width: 100%;
        display: flex;
        justify-content: center;
        border: solid 2px white;
    }
    /* articulo "incendio" */
    .grid-productos .incendio{
        width: 100%;
        display: flex;
        justify-content: center;
        border: solid 2px white;
    }
    /* imagen "incendio" */
    .grid-productos .incendio img{
        height: 70%;
        width: 100%;
    }
    /* texto desoculto en mobile-tablet */
    .incendio .container-section-product p{
        display: block;
    }
    /* MEDIA Q para contenedor de los contenidos de los articulos */
    .container-section-product{
        border: solid 2px black;
        background-color: wheat;
        border-radius: 15px;
        padding: 0 15px;
    }
    /* .cont-mq{
        width: 70%;
    } */
    /* tamaño de fuente para los textos del grid */
    .grid-text{
        font-size: 1em;
    }
    
    /* comienza la segunda seccion del main de productos */
    .container-section2{
        width: 100%;
        margin: 100px 0;
    }
    .cont-section2{
        width: 100%;
    }
    .agrupacion{
        width: 100%;
        border: solid white 2px;
    }
    .t-img{
        width: 190px;
        height: 150px;
    }
    .t-img2{
        width: 100px;
        height: 100px;
    }
    /* comienza la segunda seccion del main de productos */
    /* FINALIZA  responsive en resoluciones Mobile a "PRODUCTOS" */
/* RESPONSIVE grid-conocenos */
.grid-conocenos{
    display: grid;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "titulo"
    "principal"
    "movimiento"
    "video"
    "boton";
    width: 100%;
    row-gap: 130px;
    margin-bottom: 30px;
}


/* Aplicando css a nuestro Grid-conocenos */
.cont-h1{
    margin-top: 20px;
    height: 35vh;
}
/* Primer articulo del grid */
.desarrollo{
    display:flex;
    justify-content: center;
    width: 100%;
}
.desarrollo .text-edit{
    width: 80%;
    border: solid 2px white;
    border-radius: 20px;
}
.desarrollo .d-flex-desarrollo .container-p{
    max-width: 100%;
}
.desarrollo .d-flex-desarrollo .container-p p{
    font-size: 1.5em;
    line-height: 1.5em;
    padding: 0 20px;
}

.d-flex-desarrollo{
    display: block;
    width: 100%;
    background-color: wheat;
}

/* Segundo articulo del Grid */
.carousell{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    border-radius: 20px;
}
.container-carousell{
    border-radius: 20px;
    margin-right: 7px;
    width: 80%;
    height: 100%;
}
.container-carousell img{
    border-radius: 20px;
    height: 100%;
}

/* Tercer articulo del Grid */
.multime{
    width: 100%;
    
    display: flex;
    justify-content: center;
   /*  margin-bottom: 130px; */
}
.multime .container-video{
    width: 90%;
    height: 100%;
    border-radius: 20px;
    margin-right: 7px;
    margin-bottom: 100px;
}
.multime .container-video .iframe-video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* Cuarto article del Grid "BUTON" */
.buton{
   display: flex;
   border: solid 2px black;
}
.img-buton{
    width: 90%;
    display: flex;
}
.produ-img{
    width: 100%;
    height: 100%;
}
.container-img-cono{
    width: 40%;
}
.img-buton .conocenos-p{
    padding: 0 20px;
    width: 60%;
    font-size: 0.9em;
    max-width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px white;
    overflow: hidden;
}
.grid-conocenos .wsp{
    display: flex;
    justify-content: flex-start;
    width: 90%;
    height: auto;
}
.cont-a-wsp{
   height: auto;
   width: 40%;
}
.wsp a{
    padding: 0;
}
/* Finaliza cuarto articulo del grid-conocenos */
/* Final del Grid de CONOCENOS */

/* INICIO de Responsive a la pagina "CONTACTOS" en mobile */
/* aplicando css al contenido de "Contacto" */
.section-container-contactanos{
    width: 100%;
}
.disposicion-contenidos{
    width: 100%;
}
.conteiner-formularios{
    display: flex;
    justify-content: center;
}
.ancho{
    width: 90%;
}
.d-h2{
    width: 100%;
}
.d-h2 .indicacion-iframe{
    width: 90%;
}
.d-h2 .indicacion-iframe .mb-w{
    width: 20px;
    height: auto;
}
.iframe-contactos{
    width: 90%;
}
.find-us{
    margin-bottom: 50px;
}
/* fin del Responsive a "Contactos en dispositivos mobiles" */
}

/* medias aplicadas al responsive a resoluciones de dispositivos como tablet o ipad */
@media(min-width: 768px) and (max-width: 1200px){
    .grid-index{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        overflow: hidden;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 4,20vh;
        grid-template-areas: 
        "h1 h1"
        "inodoro canillas"
        "pisos plomero"
        "filtres filtres";
        width: 100vw;
        padding: 0 2vw;
    }
    .w-65{
        width: 100vw;
    }
    .filtros
        {display: none;}
    .wsp a{
        margin-top: 30px;
    }
    .flex-conteiner-multimedia{
        width: 100vw;
        height: 15vh;
        padding: 0 2vw;
    }
    .flex-conteiner-multimedia .edit-p{
        font-size: 0.8em;
        align-items: 1em;
    }
    .flex-conteiner-multimedia .svg-tam{
        width: 8vw;
        height: 8vh;
    }
    .flex-conteiner-multimedia .tamano-multimedia{
        width: 10vw;
        height: 10vh;
        border-radius: 30px;
    }
    .flex-conteiner-multimedia .wrap-svg-1{
        margin-right: 10px;
        
    }
    /* Responsive de pagina "OFERTAS" adaptando a resoluciones md como para dispositivos tablet o ipad */
    .col-md-6 .media{
        height: 600px;
        width: 450px;
    }
    
    section .row{
        width: 100%;
       height: 250%;
    }
    .mobile-first-margin{
        
        margin: 23px 0;
    }
    .acomodo{
        margin-top: 25px;
    }
    .box-h1{
        width: 100vw;
        display: flex;
    }
    .container-fluid h1{
        font-size: 2.3em;
        display: flex;
    }
    
    /* Responsive de pagina "PRODUCTOS" adaptando a resoluciones md como para dispositivos tablet o ipad */
    .grid-productos{
        display: grid;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        overflow: hidden;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "liquido gases"
        "desechos bombero";
        width: 100%;
        row-gap: 10vh;
    }
    
    /* mq h1 productos */
    .presentacion{
        font-size: 2.8em;
        width: 100%;
    }
    /* articulo "Agua" contenido en grid-productos */
    .grid-productos .agua{
       width: 100%;
       /* height: 85vh; */
       margin-top: 20px;
       background-color: wheat;
    }
    /* articulo "gas" contenido en grid-productos */
    .grid-productos .gas{
        width: 100%;
        /* height: 85vh; */
       margin-top: 20px;
       background-color: wheat;
    }
    /* articulo "cloaca" contenido en grid-productos */
    .grid-productos .cloaca{
        width: 100%;
        /* height: 85vh; */
        margin-top: 150px;
        background-color: wheat;
    }
    /* articulo "incendio" contenido en grid-productos */
    .grid-productos .incendio{
        width: 100%;
        /* height: 85vh; */
        margin-top: 150px;
        background-color: wheat;
    }
    .grid-productos .incendio img{
        width: 99%;
        height: 65%;
    }
    /* texto desoculto en mobile-tablet */
    .incendio .container-section-product p{
        display: block;
    }
    /* MQ para H2 en grid */
    .grid-productos h2{
        font-size: 2.2em;
        color: white;
    }
    /* aplicando css-responsive a los contenedores del grid y a la section fuera del grid */
    .container-section-product{
        padding: 0 15px;
    }
    .container-section2{
        width: 100%;
    }
    .cont-section2{
        width: 100%;
    }
    .agrupacion{
        width: 100%;
        border: solid white 2px;
    }
    .producto-section2{
        width: 100%;
    }
    /* FINALIZA  responsive en resoluciones medianas a "PRODUCTOS" */
    
    /* Comienza Responsive en resoluciones medianas a "CONOCENOS"*/
    .grid-conocenos{
        display: grid;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        overflow: hidden;
        grid-template-columns:(2,1fr);
        grid-template-areas: 
        "titulo titulo"
        "principal movimiento"
        "principal video"
        "boton boton";
        width: 100%;
        row-gap: 5vh;
        margin-bottom: 35px;
    }
    /* aplicando css a nuestros contenidos en grid-concenos */
    /* Primer articulo del grid */
    .desarrollo{
        width: 95%;
        height: 100%;
        display: flex;
        margin-left: 10px;
        background-color: wheat;
    }
    .desarrollo .d-flex-desarrollo{
        width: 100%;
    }
    .desarrollo .d-flex-desarrollo p{
        font-size: 1.2em;
    }
    .desarrollo .text-edit{
        width: 100%;
    }
    /* segundo articulo del grid */
    .carousell{
        width: 100%;
        height: 100%;
    }
    .container-carousell{
        width: 95%;
    }
    .container-carousell img{
        width: 100%;
    }
    /* tercer articulo del grid */
    .multime{
        width: 97%;
    }
    .multime .container-video{
        width: 100%;
    }
    /* cuarto articulo del div */
    .buton{
        display: flex;
        border: solid 2px black;
    }
    .img-buton{
         width: 90%;
         height: 80%;
         display: flex;
    }
    .produ-img{
         width: 100%;
         height: 100%;
    }
    .container-img-cono{
         width: 40%;
    }
    .img-buton .conocenos-p{
         padding: 0 20px;
         width: 60%;
         font-size: 0.9em;
         max-width: 100%;
         height: 80%;
         display: flex;
         justify-content: center;
         align-items: center;
         border: solid 1px white;
    }
     .grid-conocenos .wsp{
         display: flex;
         justify-content: flex-start;
         width: 90%;
         height: 20%;
     }
     .cont-a-wsp{
        height: auto;
        width: 40%;
        height: 100%;
        
     }
     .wsp a{
         padding: 0;
     }
     /* finalizado los articulos */
     /* final del responsive a grid-conocenos en resoluciones medianas */

    /* INICIO de Responsive a la pagina "CONTACTOS" en dispositivos mediano */
    /* aplicando css al contenido de "Contacto" */
    .section-container-contactanos{
        width: 100%;
    }
    .disposicion-contenidos{
        width: 100%;
    }
    .conteiner-formularios{
        display: flex;
        justify-content: center;
    }
    .ancho{
        width: 90%;
    }
    .d-h2{
        width: 100%;
    }
    .d-h2 .indicacion-iframe{
        width: 90%;
    }
    .d-h2 .indicacion-iframe .mb-w{
        width: 20px;
        height: auto;
    }
    .iframe-contactos{
        width: 90%;
    }
    .find-us{
        margin-bottom: 50px;
    }
    /* fin del Responsive a "Contactos en dispositivos medianos" */
     
} 

/* maximos y minimos de los media */

/* definiendo parametros de tamaño de fuente para el h1 */
@media (min-width:280px) and (max-width:400px){
    .presentacion{
        font-size: 1.6em;
        line-height: 2.5em;
    }
    
}
/* definiendo parametros de tamaño de fuente para el h1 */
@media (min-width:400px) and (max-width:600px){
    .presentacion{
        font-size: 1.9em;
        line-height: 2em;
    }

}
/* definiendo posicion de elementos de la nav en estos parametros */
@media (min-width:320px) and (max-width:767px){
    nav ul {
        display: flex;
        flex-direction: column !important;
    }
        nav form{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 20vw;
        }
}
/* ocultandole el elemento "filtro" del grid-index en estos parametros */
@media (min-width:992px) and (max-width:1430px){
    .grid-index .filtros{
        display: none;
    }
}
/* aplicando algunos parametros responsivos a grid-system en col-lg-4 pag "ofertas"*/
@media(min-width: 992px) and (max-width: 1900px){
    .col-lg-4 .media{
        height: 65vh;
        width: 350px;
    }
    section .row{
        width: 100%;
       height: 250%;
    }
    .flex-conteiner-multimedia{
        width: 100%;
        height: 15vh;
        padding: 0 2vw;
    }
    .flex-conteiner-multimedia .w-section{
        width: 100%;
    }
    .flex-conteiner-multimedia .w-65{
        width: 100%;
    }
    .flex-conteiner-multimedia .edit-p{
        font-size: 0.8em;
        align-items: 1em;
    }
    .flex-conteiner-multimedia .svg-tam{
        width: 8vw;
        height: 8vh;
    }
    .flex-conteiner-multimedia .tamano-multimedia{
        width: 10vw;
        height: 10vh;
        border-radius: 30px;
    }
    .flex-conteiner-multimedia .wrap-svg-1{
        margin-right: 10px;
    }
}

