// MEDIAS QUERY APLICADAS AL DISEÑO RESPONSIVE DE DISPOSITIVOS SMALL
@media(min-width:320px) and (max-width:767px){

    //responsive al navegador 
    nav ul{
        display:flex;
        flex-direction: column  !important;
    }

    //responsive aplicado a clase w-65 del carousel
    .w-65{
        width: 100vw;
    }

    //responsive a h1
    .cont-h11{
        width: $ancho-w;
        height: 270px;
        margin: 50px 0;
        .box-h11{
            width:$ancho-w;
            height: 200px;
            @include containers-dos (none,10px,$colorPrincipal);
            @include acomodo-cont (center,center);
            h1{
                @include text (2.5em,1.5em,$colorSecundario,center);
                width: 70%;
            }
        }
    }

    //responsive a "grid-index"
    .grid-index{
        @include grid (10px,1fr,0,100%);
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        overflow: hidden;
        grid-template-rows: 5,20vh;
        grid-template-areas: 
        "filtres"
        "h1"
        "inodoro"
        "canillas"
        "pisos"
        "plomero";
        .filtros{
            display: none;
        }
        .presentacion{
            @include text2(1.6em,2.5em);
            height: auto;
        }
        .sanitarios{
            width: 100vw;
            img{
                width: 100vw;
            }
        }
        .griferias{
            width: 100vw;
            img{
                width: 100vw;
            }
        }
        .revestimientos{
            width: 100vw;
            img{
                width: 100vw;
            }
        }
        .instalaciones{
            width: 100vw;
            img{
                width: 100vw;
            }
        }
    }
    
    //Responsive al grid-productos 
    .grid-productos{
        @include grid (10px,1fr,15vh,100%);
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        overflow: hidden;
        grid-template-areas: 
        "liquido" 
        "gases" 
        "desechos" 
        "bombero";
        .agua{
            width:$ancho-w;
            border: none;
            .container-section-product{
                @include containers-dos ($bord-er,10px,$colorPrincipal);
                width: 80%;
                h2{
                    font-size: 2.2em;
                    color: $colorTerciario;
                }
                p{
                    padding: 0 10px;
                    line-height: 2em;
                    color: $colorSecundario;
                    &:hover{
                        @include coloreado ($colorSecundario,$colorPrincipal);
                    }
                }
            }
        }
        .gas{
            width:$ancho-w;
            border: none;
            .container-section-product{
                @include containers-dos ($bord-er,10px,$colorPrincipal);
                width: 80%;
                h2{
                    font-size: 2.2em;
                    color: $colorTerciario;
                }
                p{
                   
                    color: $colorSecundario;
                    &:hover{
                        @include coloreado ($colorSecundario,$colorPrincipal);
                    }
                }
            }
        }
        .cloaca{
            width:$ancho-w;
            border: none;
            height: 100%;
            
            .container-section-product{
                @include containers-dos ($bord-er,10px,$colorPrincipal);
                width: 80%;
                h2{
                    font-size: 2.2em;
                    color: $colorTerciario;
                }
                p{
                    padding: 0 10px;
                    line-height: 2em;
                    color: $colorSecundario;
                    &:hover{
                        @include coloreado ($colorSecundario,$colorPrincipal);
                    }
                }
                .text-edit{
                    .contenedor{
                        figure{
                            img{
                                height: 350px;
                            }
                        }
                    }
                }
            }
        }
        .incendio{
            width:$ancho-w;
            border: none;
            height: 100%;
            
            .container-section-product{
                @include containers-dos ($bord-er,10px,$colorPrincipal);
                width: 80%;
                height: 100%;
                h2{
                    font-size: 2.2em;
                    color: $colorTerciario;
                }
                p{
                    padding: 0 10px;
                    line-height: 2em;
                    display: block;
                    color: $colorSecundario;
                    &:hover{
                        @include coloreado ($colorSecundario,$colorPrincipal);
                    }
                }
                .text-edit{
                    .contenedor{
                        figure{
                            img{
                                height: 350px;
                            }
                        }
                    }
                }
            }
        }
    }
    //responsive a segunda section global de "PRODUCTOS"
    .container-section2{
        width: $ancho-w;
        margin: 100px 0;
        .cont-section2{
            width: $ancho-w;
            .agrupacion{
                width: $ancho-w;
                border: none;
                .producto-section2{
                    .d-logos{
                        .b-image-agua{
                            width: 80%;
                        }
                        .b-image-gas{
                            width: 80%;
                        }
                        .b-image-cloaca{
                            width: 80%;
                        }
                    }
                }
            }
        }
    }
    
   //responsive a page "OFERTAS"
.container-fluid{
    .animation{
        width: $ancho-w;
        .div-container-anima{
            width: $ancho-w;
            height: auto;
            .animate{
                width: 50%;
                height: auto;
                display: flex;
                align-items: center;
                font-size: 0.9em !important;
                svg{
                    display: none;
                }
                .colorh-2{
                    color: wheat;
                }
            }
        }
    }
    .media1{
        width: $ancho-w;
        justify-content: none;
        .w-50{
            width: $ancho-w;  
        }
        h2{
            width: $ancho-w;  
        }
    }
}   
.container-fluid{
    .row{
        width: 90%;
        .col-sm-12{
            .card{
                width:80%;
                height: 100%;
                @include d-flex (column,center);
                
            }
        }
    }
}
   
//Responsive al grid-conocenos
.grid-conocenos{
    
    display: grid;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "titulo"
    "principal"
    "principal"
    "video"
    "boton"
    "boton";
    width: 100%;
    row-gap: 130px;
    gap: 100px;
    margin-bottom: 30px;
    
    .h1-conocenos{
        h1{
           width: $ancho-w;
        }
    }
    .desarrollo{
        @include d-flex (row,center);
        width: $ancho-w;
        height:auto;
        width: $ancho-w;
        
        .d-flex-desarrollo{
            display: block;
            width: auto;
            background-color: $colorPrincipal;
            border-radius: 10px;
            img{
                height: auto;
                width: $ancho-w;
            }
            .container-p{
                height: auto;
                width: auto;
                p{
                    color: $colorPrincipal;
                    &:hover{
                        @include coloreado ($colorSecundario,$colorPrincipal);
                    }
                    @include text2(auto,auto);
                }
            }
        }
    }
    .carousell{
     display: none;
    }
    .multime{
        width: $ancho-w;
        @include d-flex (row,center);
        .container-video{
            @include containers (95%,100%,2px,none,20px);
            .iframe-video{
                width: $ancho-w;
                height: 100%;
                border-radius: 10px;
            }
        }
    }
    .buton{
        @include acomodo-cont (center,flex-start);
        border: $bord-er;
        height: auto;
        width: $ancho-w;
        margin-bottom: 100px;
        background-color: $colorPrincipal;
        .img-buton{
            width: 80%;
            height: auto;
            display: block;
            justify-content: center;
            background-color: $colorSecundario;
            
            .container-img-cono{
                height: 30vh;
                width: 100%;
                @include animation (animation-background,3s,infinite,linear);
                background-size: 100% 100%;
                background-repeat: no-repeat;
               
            }
            .conocenos-p{
                width: $ancho-w;
                height: auto;
                @include text2($size,1.8em);
            }
        }   
        .wsp{
            width: $ancho-w;
            height: auto;
            @include d-flex (row,center);
            
            .cont-a-wsp{
                height: auto;
                width: 80%;
                background-color: $colorSecundario;
            }
        }
    }
}

//Responsive a page "Contactos"
.section-container-contactanos{
    width: $ancho-w;
    .disposicion-contenidos{
        width: $ancho-w;
        .ancho1{
            height: auto;
            p{
                height: auto;
                font-size: 1.2em;
            }
        }
        .conteiner-formularios{
            @include d-flex (row,center);
            width: 90%;
            .b-g{
                width: $ancho-w;
                form{
                    width: $ancho-w;
                    .border-form{
                        .tamanos-formularios{
                            width: $ancho-w;
                            input{
                                width: 80%;
                            }
                        }
                    }
                    
                }
            }
        }
        .ancho{
            width: 90%;
        }
    }
    
}
.d-h2{
    width: $ancho-w;
    .indicacion-iframe{
        width: 90%;
        .mb-w{
            width: 20px;
            height: auto;
        }
    }
}   
.find-us{
    margin-bottom: 50px;
    .iframe-contactos{
        width: 90%;
    }
}

// aplicando responsive a las seccion multimedia fuera del main  
    .flex-conteiner-multimedia{
        width: 100vw;
        height: 50vh;
        display: flex;
        .w-section{
            width: 100%;
            .w-65{
                width: 100%;
                background-color: $colorPrincipal;
                display: flex;
                flex-wrap: wrap;
                .d-flex-1{
                    width: 100%;
                    @include d-flex (row,center);
                    .wrap-svg-1{
                        width: 100vw;
                        @include d-flex (row,center);
                        margin: 10px 10px;
                    }
                    .wrap-svg-2{
                        @include d-flex (row,center);
                        width: 100vw;
                        margin-top: 18px;
                        .edit-audio{
                            width: 80%;
                        }
                    }
                }
                .flex-w{
                    @include flex (row,wrap,center,center); 
                    
                }
                .d-flex-2{
                    width: $ancho-w;
                    display: flex;
                    flex-wrap: wrap;
                    .flex-wrap-2{
                        width: 100vw;
                        @include d-flex (row,center);
                        margin-bottom: 20px;
                    }
                    .flex-wrap-2-w{
                        width: 100vw;
                        text-align: center;
                    }
                }
            }
        }
    }
    
    /* responsive aplicado al footer */
    footer{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .container-wrap{
            width: 100%;
            @include d-flex (row,center);
            .css-text{
                @include d-flex (row,center);
                text-align: center;
            }
        }
    }

    .text-edit{
        overflow: hidden;
        text-align: center;
        font-size: 0.80em;
    }
    // fin del Responsive a "Contactos en dispositivos mobiles" 
}

// MEDIAS QUERY APLICADAS AL DISEÑO RESPONSIVE DE DISPOSITIVOS MEDIUM
@media(min-width: 768px) and (max-width: 1200px){
    .container-flex-carousel{
        .w-65{
            width: 100vw;
        }
    }

    //responsive para h1 y sus contenedores
    .cont-h11{
        .box-h11{
            width: 100%;
            h1{
                width: 100%;
            }
        }
    }

    //responsive a "grid-index" para dispositivos medianos
    .grid-index{
        @include grid (30px,repeat(2,1fr),15px,100%);
        box-sizing: border-box;
        overflow: hidden;
        grid-template-rows: 4,20vh;
        grid-template-areas: 
        "h1 h1"
        "inodoro canillas"
        "pisos plomero"
        "filtres filtres";
        padding: 0 2vw;
        .filtros{
            display: none;
        }
    }

    //responsive a "grid-productos" para dispositivos medianos
    .grid-productos{
        @include grid (30px,repeat(2,1fr),15px,100%);
        box-sizing: border-box;
        overflow: hidden;
        grid-template-areas: 
        "liquido gases"
        "desechos bombero";
        row-gap: 10vh;
        .incendio{
            .container-section-product{
                p{
                    display: block;
                }
                
            }
        }
    }
    //responsive a la segunda seccion globlal de productos
    .container-section2{
        padding: 0 15px;
        width: 100%;
        .cont-section2{
            width: 100%;
            .agrupacion{
                width: 100%;
                .producto-section2{
                    width: 100%;
                    .d-logos{
                        .t-img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    //responsive a "ofertas" para dispositivos medianos

    .container-fluid{
        .animation{
            width: $ancho-w;
            .div-container-anima{
                width: $ancho-w;
                height: auto;
                .animate{
                    width: 50%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    .color-h2{
                        margin-right: 5px;
                        font-size: 1em;
                    }
                }
            }
        }
        .media1{
            width: $ancho-w;
            justify-content: none;
            .w-50{
                width: $ancho-w;  
            }
            h2{
                width: $ancho-w;  
            }
        }
    }   
    .container-fluid{
        .row{
            width: 100%;
            .col-md-6{
                .card{
                    @include d-flex (column,center);
                    height: 600px;
                    width: 450px;
                }
            }
        }
    }
    
    //responsive a "grid-productos" para dispositivos medianos
    .grid-conocenos{
        @include grid (35px,repeat(2,1fr),15px,100%);
        box-sizing: border-box;
        overflow: hidden;
        grid-template-areas: 
        "titulo titulo"
        "principal movimiento"
        "principal video"
        "boton boton";
        row-gap: 5vh;
        .desarrollo{
            width: auto;
            height: auto;
            display: flex;
            margin-left: 10px;
            background-color: $colorPrincipal;
            .d-flex-desarrollo{
                width: $ancho-w;
                img{
                    width: $ancho-w;
                    height: auto
                }
                .container-p{
                    @include d-flex (row,center);
                    p{
                        color: $colorPrincipal;
                        height: auto;
                        &:hover{
                            @include coloreado ($colorSecundario,$colorPrincipal);
                            width: auto;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }
        .carousell{
            width: $ancho-w;
            height: 100%;
            .container-carousell{
                width: 95%;
                height: 100%;
                img{
                    width: $ancho-w;
                }
            }
        }
        .multime{
            width: 97%;
            .container-video{
                width: 100%;
            }
        }
        .buton{
            display: flex;
            @include containers-dos ($bord-er,none,$colorPrincipal);
            .img-buton{
                width: $ancho-w;
                height: 80%;
                display: flex;
                .container-img-cono{
                    .produ-img{
                        width: $ancho-w;
                        height: 100%;
                    }
                }
                .conocenos-p{
                    @include acomodo-cont (center,center); 
                    padding: 0 20px;
                    width: 60%;
                    font-size: $size;
                    max-width: 100%;
                    height: 100%;
                }
            }
            .wsp{
                @include d-flex (row,flex-start);
                width: $ancho-w;
                height: 15%;
                .cont-a-wsp{
                    height: auto;
                    width: 40%;
                    height: 100%;
                    a{
                        padding: 0; 
                    }
                }
            }
        }
    }

    .section-container-contactanos{
        width: $ancho-w;
        .disposicion-contenidos{
            width: 70%;
            .ancho1{
                height: auto;
                p{
                    height: auto;
                    font-size: 1.2em;
                }
            }
            .conteiner-formularios{
                @include d-flex (row,center);
                width: 100%;
                .b-g{
                    width: $ancho-w;
                    form{
                        width: 100%;
                        .border-form{
                            .tamanos-formularios{
                                width: 65%;
                                input{
                                    width: 65%;
                                }
                            }
                        }
                    }
                }
            }
            .ancho{
                width: 90%;
            }
        }
        
    }
    .d-h2{
        width: $ancho-w;
        .indicacion-iframe{
            width: 90%;
            .mb-w{
                width: 20px;
                height: auto;
            }
        }
    }   
    .find-us{
        margin-bottom: 50px;
        .iframe-contactos{
            width: 90%;
        }
    }

   
   
    // aplicando responsive a las seccion multimedia fuera del main dispositivos medianos
    .flex-conteiner-multimedia{
        width: $ancho-w;
        height: 15vh;
        padding: 0 2vw;
        .w-section{
            width: $ancho-w;
            .w-65{
                width: $ancho-w;
                .d-flex-1{
                    .wrap-svg-1{
                        margin-right: 10px;
                    }
                }
            }
        }
    }

}

//definiendo min y max de la section debajo del main
@media(min-width: 1201px) and (max-width: 1900px){
    .flex-conteiner-multimedia{
        width: 100%;
        height: 15vh;
        padding: 0 2vw;
        .w-section{
            width: 100%;
            .w-65{
                width: 65%;
                .d-flex-1{
                    width: auto;
                    .wrap-svg-1{
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

//olcultando filtros
@media (min-width:992px) and (max-width:1430px){
    .grid-index .filtros{
        display: none;
    }
}