// MEDIAS QUERY APLICADAS AL DISEÑO RESPONSIVE DE DISPOSITIVOS SMALL
@media(min-width:320px) and (max-width:767px){

    //responsive al navegador 
    nav ul{
        display:flex;
        flex-direction: column  !important;
    }

    //responsive aplicado a clase w-65 del carousel
    .w-65{
        width: 100vw;
    }

    //responsive a h1
    .cont-h11{
        width: $ancho-w;
        height: 270px;
        margin: 50px 0;
        .box-h11{
            width:$ancho-w;
            height: 200px;
            @include containers-dos (none,10px,$colorPrincipal);
            @include acomodo-cont (center,center);
            h1{
                @include text (2.5em,1.5em,$colorSecundario,center);
                width: 70%;
            }
        }
    }

    //responsive a "grid-index"
    .grid-index{
        @include grid (10px,1fr,0,100%);
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        overflow: hidden;
        grid-template-rows: 5,20vh;
        grid-template-areas: 
        "filtres"
        "h1"
        "inodoro"
        "canillas"
        "pisos"
        "plomero";
        .filtros{
            display: none;
        }
        .presentacion{
            @include text2(1.6em,2.5em);
            height: auto;
        }
        .sanitarios{
            width: 100vw;
            img{
                width: 100vw;
            }
        }
        .griferias{
            width: 100vw;
            img{
                width: 100vw;
            }
        }
        .revestimientos{
            width: 100vw;
            img{
                width: 100vw;
            }
        }
        .instalaciones{
            width: 100vw;
            img{
                width: 100vw;
            }
        }
    }
    
    //Responsive al grid-productos 
    .grid-productos{
        @include grid (10px,1fr,15vh,100%);
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        overflow: hidden;
        grid-template-areas: 
        "liquido" 
        "gases" 
        "desechos" 
        "bombero";
        .agua{
            width:$ancho-w;
            border: none;
            .container-section-product{
                @include containers-dos ($bord-er,10px,$colorPrincipal);
                width: 80%;
                h2{
                    font-size: 2.2em;
                    color: $colorTerciario;
                }
                p{
                    color: $colorSecundario;
                    &:hover{
                        @include coloreado ($colorSecundario,$colorPrincipal);
                    }
                }
            }
        }
        .gas{
            width:$ancho-w;
            border: none;
            .container-section-product{
                @include containers-dos ($bord-er,10px,$colorPrincipal);
                width: 80%;
                h2{
                    font-size: 2.2em;
                    color: $colorTerciario;
                }
                p{
                    color: $colorSecundario;
                    &:hover{
                        @include coloreado ($colorSecundario,$colorPrincipal);
                    }
                }
            }
        }
        .cloaca{
            width:$ancho-w;
            border: none;
            height: 100%;
            
            .container-section-product{
                @include containers-dos ($bord-er,10px,$colorPrincipal);
                width: 80%;
                h2{
                    font-size: 2.2em;
                    color: $colorTerciario;
                }
                p{
                    color: $colorSecundario;
                    &:hover{
                        @include coloreado ($colorSecundario,$colorPrincipal);
                    }
                }
                .text-edit{
                    .contenedor{
                        figure{
                            img{
                                height: 350px;
                            }
                        }
                    }
                }
            }
        }
        .incendio{
            width:$ancho-w;
            border: none;
            height: 100%;
            
            .container-section-product{
                @include containers-dos ($bord-er,10px,$colorPrincipal);
                width: 80%;
                height: 100%;
                h2{
                    font-size: 2.2em;
                    color: $colorTerciario;
                }
                p{
                    display: block;
                    color: $colorSecundario;
                    &:hover{
                        @include coloreado ($colorSecundario,$colorPrincipal);
                    }
                }
                .text-edit{
                    .contenedor{
                        figure{
                            img{
                                height: 350px;
                            }
                        }
                    }
                }
            }
        }
    }
    //responsive a segunda section global de "PRODUCTOS"
    .container-section2{
        width: $ancho-w;
        margin: 100px 0;
        .cont-section2{
            width: $ancho-w;
            .agrupacion{
                width: $ancho-w;
                border: none;
                .producto-section2{
                    .d-logos{
                        a{
                            .t-img{
                                width: 190px;
                                height: 150px;
                            }
                            .t-img2{
                                width: 100px;
                                height: 100px;
                            }
                        }
                    }
                }
            }
        }
    }
    
   //responsive a page "OFERTAS"
.container-fluid{
    .media1{
        width: $ancho-w;
        justify-content: none;
        .w-50{
            width: $ancho-w;  
        }
        h2{
            width: $ancho-w;  
        }
    }
}   
.container-fluid{
    .row{
        width: 90%;
        .col-sm-12{
            .card{
                width:80%;
                height: 100%;
                @include d-flex (column,center);
                
            }
        }
    }
}
   
//Responsive al grid-conocenos
.grid-conocenos{
    
    display: grid;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "titulo"
    "principal"
    "principal"
    "video"
    "boton"
    "boton";
    width: 100%;
    row-gap: 130px;
    gap: 100px;
    margin-bottom: 30px;
    
    .h1-conocenos{
        h1{
           width: $ancho-w;
        }
    }
    .desarrollo{
        @include d-flex (row,center);
        width: $ancho-w;
        height:100%;
        width: $ancho-w;
        
        .d-flex-desarrollo{
            display: block;
            width: 80%;
            background-color: $colorPrincipal;
            border-radius: 10px;
            img{
                height: 50%;
                width: $ancho-w;
            }
            .container-p{
                height: 80%;
                p{
                    color: $colorSecundario;
                    &:hover{
                        @include coloreado ($colorSecundario,$colorPrincipal);
                    }
                    @include text2(1.2em,1.5em);
                }
            }
        }
    }
    .carousell{
     display: none;
    }
    .multime{
        width: $ancho-w;
        @include d-flex (row,center);
        .container-video{
            @include containers (95%,100%,2px,none,20px);
            .iframe-video{
                width: $ancho-w;
                height: 100%;
                border-radius: 10px;
            }
        }
    }
    .buton{
        @include acomodo-cont (center,flex-start);
        border: $bord-er;
        height: auto;
        width: $ancho-w;
        margin-bottom: 100px;
        background-color: $colorPrincipal;
        .img-buton{
            width: 80%;
            height: auto;
            display: block;
            justify-content: center;
            background-color: $colorSecundario;
            
            .container-img-cono{
                @include d-flex (row,center);
                width: $ancho-w;
                height: auto;
                margin-bottom: 15px;
               
            }
            .conocenos-p{
                width: $ancho-w;
                height: auto;
                @include text2($size,1.8em);
            }
        }   
        .wsp{
            width: $ancho-w;
            height: auto;
            @include d-flex (row,center);
            
            .cont-a-wsp{
                height: auto;
                width: 80%;
                background-color: $colorSecundario;
            }
        }
    }
}

//Responsive a page "Contactos"
.section-container-contactanos{
    width: $ancho-w;
    .disposicion-contenidos{
        width: $ancho-w;
        .ancho1{
            height: auto;
            p{
                height: auto;
                font-size: 1.2em;
            }
        }
        .conteiner-formularios{
            @include d-flex (row,center);
            width: 90%;
            .b-g{
                width: $ancho-w;
                form{
                    width: $ancho-w;
                    .border-form{
                        .tamanos-formularios{
                            width: $ancho-w;
                            input{
                                width: 80%;
                            }
                        }
                    }
                    
                }
            }
        }
        .ancho{
            width: 90%;
        }
    }
    
}
.d-h2{
    width: $ancho-w;
    .indicacion-iframe{
        width: 90%;
        .mb-w{
            width: 20px;
            height: auto;
        }
    }
}   
.find-us{
    margin-bottom: 50px;
    .iframe-contactos{
        width: 90%;
    }
}

// aplicando responsive a las seccion multimedia fuera del main  
    .flex-conteiner-multimedia{
        width: 100vw;
        height: 50vh;
        display: flex;
        .w-section{
            width: 100%;
            .w-65{
                width: 100%;
                background-color: $colorPrincipal;
                display: flex;
                flex-wrap: wrap;
                .d-flex-1{
                    width: 100%;
                    @include d-flex (row,center);
                    .wrap-svg-1{
                        width: 100vw;
                        @include d-flex (row,center);
                        margin: 10px 10px;
                    }
                    .wrap-svg-2{
                        @include d-flex (row,center);
                        width: 100vw;
                        margin-top: 18px;
                        .edit-audio{
                            width: 80%;
                        }
                    }
                }
                .flex-w{
                    @include flex (row,wrap,center,center); 
                    
                }
                .d-flex-2{
                    width: $ancho-w;
                    display: flex;
                    flex-wrap: wrap;
                    .flex-wrap-2{
                        width: 100vw;
                        @include d-flex (row,center);
                        margin-bottom: 20px;
                    }
                    .flex-wrap-2-w{
                        width: 100vw;
                        text-align: center;
                    }
                }
            }
        }
    }
    
    /* responsive aplicado al footer */
    footer{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .container-wrap{
            width: 100%;
            @include d-flex (row,center);
            .css-text{
                @include d-flex (row,center);
                text-align: center;
            }
        }
    }

    .text-edit{
        overflow: hidden;
        text-align: center;
        font-size: 0.80em;
    }
    // fin del Responsive a "Contactos en dispositivos mobiles" 
}

// MEDIAS QUERY APLICADAS AL DISEÑO RESPONSIVE DE DISPOSITIVOS MEDIUM
