//selector universal "Reset"
*{
    font-family: $fontPrimary;
    font-weight: $fontWprimary;
    box-sizing: border-box;
}

//clase para texto fijo arriba del navegador
.bg-wheat{
    background-color: $colorTerciario;
}


//HEADER acomodo con Sass
header{
    .container-flex-carousel{
        @include flex (row,nowrap,center,center);
        width: $ancho-w;
        height: 100%;
        margin-top: 20px;
    }
    .w-65{
        width: 65%;
    }
}

//h1
.cont-h1{
    @include d-flex (row,center);
    width: $ancho-w;
    .box-h1{
        @include d-flex (row,center);
        width: 65%;
        margin: 30px;
        border-radius: 20px;
        background-color: $colorPrincipal;
        h1{
            @include text (3em,2.5em,$colorSecundario,center);
            font-family: $fontPrimary;
            font-weight: $fontWprimary;
        }
    }
}

//h2
h2{
    font-family: 'Saira', sans-serif;
    font-weight: $fontWsecundary;
}

//Textos (fuentes y pseudoclase "hover")
.text-edit{
    @include text ($size,1.9em,$colorPrincipal,center);
    p:hover{
        background-color: $colorPrincipal;
        color: $colorSecundario;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

//Section Multimedia despues del Main de todas las pages (COMIENZA)
.flex-conteiner-multimedia{
    width: $ancho-w;
    height: 100px;
    display: flex;
    .w-section{
        @include  d-flex (row,center);
        width: $ancho-w;
        color: $colorSecundario;
        .w-65{
            width: 65%;
            @include flex (row,nowrap,space-between,center);
            @include containers-dos (0,20px,$colorPrincipal);
            .d-flex-1{
                width: 32%;
                @include flex (row,nowrap,space-between,center);
                .wrap-svg-1{
                    svg{
                        @include containers (60px,60px,0,0,10px);
                        @include coloreado ($colorSecundario,$colorPrincipal);
                        margin-left: 15px;
                    }
                }        
            }
            .d-flex-2{
                width: 32%;
                @include flex (row,nowrap,center,center);
                .flex-wrap-2{
                    svg{
                        margin-right: 10px;
                        width: 50px;
                        height: 50px;
                    }
                }
            }
            .flex-wrap-2-w{
                .edit-p{
                    @include text (0.8em,1.5em,$colorTerciario,center);
                } 
            }
        }
    }
}

//Comienza pie de "pagina-Footer"
footer{
    @include d-flex (row,space-between);
    background-color: $colorPrincipal;
    margin-top: 20px;
    width: $ancho-w;
    
    .multimedia-redes{
        width: 50px;
        margin: 5px 5px;
        border-radius: 10px;
    }
    .svg-fb{
        color: blue;
        padding: 8px 8px;
        &:hover{
            color: $colorSecundario;
        }
    }
    .svg-insta{
        color:violet;
        padding: 8px 8px;
        &:hover{
            color: $colorSecundario;
        }
    }
    .svg-twitter{
        padding: 8px 8px;
        &:hover{
            color: $colorSecundario;
        }
    }
    .css-text{
        @include text (1.5em,1.7em,$colorSecundario,right);
       
    }
}

//
















