//Contenido principal de toda las pages

//comienza Main-Grid de "INDEX" aplicando nesting
.grid-index{
    @include grid (25px,repeat(6,15vw),30px,100%);
    justify-content: center;
    grid-template-areas: 
    "filtres h1 h1 canillas canillas"
    "filtres inodoro inodoro canillas canillas"
    "filtres inodoro inodoro pisos pisos"
    "filtres plomero plomero pisos pisos";
    
    .presentacion{
        grid-area: h1;
        @include text (2.1em,2.8em,$colorSecundario,center);
        @include containers-dos (0px,10px,$colorPrincipal);
        margin-top:20px;
    }
    .sanitarios{
        grid-area: inodoro;
        img{
            @extend .img-extend;
        }
       
    }
    .griferias{
        grid-area: canillas;
        img{
            @extend .img-extend;
        }
    }
    .revestimientos{
        grid-area: pisos;
        overflow: hidden;
        img{
            @extend .img-extend;
        }
    }
    .instalaciones{
        grid-area: plomero;
         img{
            @extend .img-extend;
        }
    }
    .filtros{
        grid-area: filtres;
        display: flex;
        flex-direction: column;
        form{
            @include flex (column,nowrap,center,center);
            @include containers-dos ($colorTerciario solid 1px,20px,$colorPrincipal);
            margin-top: 25vh;
            .edit-conteiner-filtros{
                @include containers-dos ($colorSecundario solid 2px,10px,$colorTerciario);
                margin: 10px 0;
                .categories{
                    margin-bottom: 25px;
                    color: $colorSecundario;
                    background-color: $colorPrincipal;
                    font-size: $size;
                }
            }
        }
        ul{
            li{
                list-style: none;
                a{
                    @include text2(0.9em,2em);
                    text-decoration: none;
                    color:rgb(104, 104, 233);
                    &:hover{
                        color: $colorSecundario;
                        background-color: $colorPrincipal;
                    }
                }
            }
        }
    }
 
}
.container-galeria{
    @include  d-flex (row,center);
    width: $ancho-w;
    height: 500px;
    margin-bottom: 30px;
    section{
        display: flex;
        height: auto;
        width: 65%;
        @include containers-dos ($bord-er,5px,$colorSecundario);
        img{
            width: 0px;
           flex-grow: 1;
           object-fit: cover;
           opacity: .9;
           transition:.5s ease;
           &:hover{
            cursor: all-scroll;
            width: 300px;
            opacity: 1;
            filter: contrast(120%)
           }
        }
    }
}


//comienza Main-Grid de "PRODUCTOS" aplicando nesting
.grid-productos{
    @include grid (100px,18vw 27vw 18vw,10px,$ancho-w);
    justify-content: center;
    row-gap: 100px;
    grid-template-areas:
    "liquido desechos gases"
    "liquido desechos gases"
    "liquido bombero gases";
    
    
    /* Declarando los grid-area */
    .agua{
        grid-area: liquido;
        .container-section-product{
            width: $ancho-w;
            h2{ 
                @extend .gd-prod-h2;
            }
            p{
                font-size: 1.2em;
                line-height: 2.2em;
                padding: 0 15px;
            }
        }
        @extend .articles-prod;
        img{
           @extend .img-extend-productos;
        }

    }
    .gas{
        grid-area: gases;
        .container-section-product{
            width: $ancho-w;
            h2{ 
                @extend .gd-prod-h2;
            }
            p{
                font-size: 1.2em;
                line-height: 1.8em;
                padding: 0 15px;
            }
        }
        @extend .articles-prod;
        img{
            @extend .img-extend-productos;
        }
    }
    .cloaca{
        grid-area: desechos;
        .container-section-product{
            width: $ancho-w;
            h2{ 
                @extend .gd-prod-h2;
            }
            p{
                font-size: 1.2em;
                line-height: 2em;
                padding: 0 15px;
            }
        }
        @extend .articles-prod;
        img{
            @extend .img-extend-productos;
        }
        overflow: hidden;
    }
    .incendio{
        grid-area: bombero;
        .container-section-product{
            width: $ancho-w;
            h2{ 
                @extend .gd-prod-h2;
            }
            p{
                font-size: 1.2em;
                line-height: 2em;
                padding: 0 15px;
            }
        }
        @extend .articles-prod;
        img{
            @extend .img-extend-productos;
        }
    }

}
//Secciones con sus articulos debajo del "grid-productos"
.container-section2{
    margin: 50px 0;
    .cont-section2{
        @include d-flex (row,center);
        width: $ancho-w;
    }
    .agrupacion{
        width: 65%;
        border: $bord-er;
        margin-bottom: 25px;
        display: flex;
        @include animation (animation-backgroun,7s,infinite,linear);

        .producto-section2{
           @extend .producto-section2-;
           h2{
            @include coloreado ($colorPrincipal,$colorSecundario);
            margin-bottom: 30px;
           }
           .h3{
                @include d-flex (row,center);            
                 width: 100%;
                .bg-h3{
                    width: 65%;
                    background-color: $colorTerciario;
                    h3{
                        margin-bottom: 15px;
                    }
                }
           }
           p{
            font-size: 1.5em;
            margin-bottom: 50px;
            padding: 30px 0;
           }
           .d-logos{
                @include d-flex (row,center);
                .b-image-agua{
                    width: 30%;
                    height: 300px;
                    @include animation (agrupacion-animate-agua,10s,infinite,linear);
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                }
                .b-image-gas{
                    @extend .animacion-agrupacion;
                    @include animation (agrupacion-animate-gas,10s,infinite,linear);
                }
                .b-image-cloaca{
                    @extend .animacion-agrupacion;
                    @include animation (agrupacion-animate-cloaca,10s,infinite,linear);
                }
                
           }
        }
    }
}   

//comienza Page de "OFERTAS" grid-system con Bostrap
.container-fluid{

    @keyframes animation{
        0%{left: 0%; transform: translatex(0%);}
        50%{left: 50%; transform: translatex(50%);}
        100%{left: 100%; transform: translatex(100%);}
    }
    .animation{
        width: $ancho-w;
        display: flex;
        align-items: flex-start;
        .div-container-anima{
            height: 100px;
            display: flex;
            align-items: center;
            width: 60%;
            background: linear-gradient(to top, white,black);
            border-radius: 5px;
            .animate{
                width: 50%;
                height: 60px;
                @include acomodo-cont (center,center);
                animation-name: animation;
                animation-duration: 8s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                cursor: pointer;
                svg{
                    color: $colorSecundario;
                    height: 40px;
                }
                .colorh-2{
                    font-size: 1.7em;
                    animation: 10s linear infinite;
                    color: $colorSecundario;
                    margin-right: 20px;
                }
            }
        }
    }
    
    .border-text{
       @include containers-dos (solid 5px $colorPrincipal,0,$colorTerciario);
    }

    .border-sec{
        @include containers-dos (solid 5px $colorTerciario,20px,$colorPrincipal);
    }
    .w-65{
        @include acomodo-cont (space-between,center);
        width: 65%;
        height: 100%;
        background-color:$colorPrincipal;
        border-radius: 20px;
        .col-sm-12{
           height: 100%;
            .card{
                width: 100%;
                height: 510px;
                display: flex;
                border: solid 2px wheat;
                margin: 10px;
                img{
                    width: auto;
                    height: auto;
                    object-fit: cover;
                }
                .bord-img{
                    border-bottom: $bord-er;
                }
                &:hover{
                    transform: scale(1.1);
                    transition: all 0.8s;
                    cursor: pointer;
                }
            }
        }
        
    }

}

//comienza Main-Grid de "Conocenos" aplicando nesting
.grid-conocenos{
   @include grid (60px,repeat(2,1fr),2px,100%);
   grid-template-rows: 230px repeat(2,50vh) 300px;
   grid-template-areas: 
    "titulo titulo"
    "principal movimiento"
    "principal video"
    "boton boton";
    justify-content: center;

    /* Declarando areas del Grid page "CONOCENOS" */
    .h1-conocenos{
        grid-area: titulo;
    }
    .desarrollo{
        grid-area: principal;
        @include d-flex (row,flex-end);
        overflow: hidden;
        
        .d-flex-desarrollo{
            @include animation (animation-backgroun,6s,infinite,linear);
            display: inline-block;
            width: 65%;
            height: auto;
            border: $bord-er;
            overflow: hidden;
            img{
                
                width:$ancho-w;
                height: auto;
                padding: 10px 10px;
                margin-bottom: 30px;
                background-color: $colorPrincipal;
            }
            .container-p{
                display: flex;
                justify-content: center;
                height: auto;
                width: auto;
                
                p{  
                    @include text (1.1em,1.5em,$colorPrincipal,center);
                    padding: 0 15px;
                    overflow: hidden;
                    width: auto;
                    height: auto;
                    
                    &:hover{
                        margin: 0 15px;
                        color: $colorSecundario;
                        border-radius: 10px;
                        background-color: $colorPrincipal;
                        transition: all 4s;
                    }
                }
            }
        }
    }
    .carousell{
        width: 100%;
      
        .container-carousell{
            @include animation (conocenos,7s,infinite,linear);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            width: 63.5%;
            height: 98%;
            margin-left: 10px;
        }
    }
    .multime{
        grid-area: video;
        @include d-flex (row,flex-start);
        .container-video{
            @include acomodo-cont (center,stretch);
            width: 63.5%;
            height: auto;
            margin-left: 10px;
            background-color:$colorPrincipal;
            .iframe-video{
                @include d-flex (row,center);
                width: $ancho-w;
                height: 100%;
            }
        }
    }
    .buton{
        grid-area: boton;
        @include flex (row,wrap,center,flex-end);
        margin-top: 20px;
        .img-buton{
            @include acomodo-cont (center,center);
            height: 250px;
            width: 65%;
            background-color: $colorPrincipal;
            .container-img-cono{
                width: 40%;
                height: 100%;
                @include animation (animation-background,5s,infinite,linear);
                background-size: 100% 100%;
                background-repeat: no-repeat;
               
            }
            .conocenos-p{
                @include text (1.5em,1.6em,$colorPrincipal,center);
                width: 60%;
                background-color: rgba(120, 224, 120);
                padding: 0 15px;
                border-radius: 15px;
            }
        }
        .wsp{
            height: 40px;
            width: 65%;
            margin: 0;
            display: flex;
            background-color: $colorPrincipal;
            
            .cont-a-wsp{
                @include d-flex (row,center);
                width: 40%;
                height: 40px;
                background-color:rgba(120, 224, 120);
                align-items: center;
                a{  
                    color: $colorSecundario;
                    background-color: $colorPrincipal;
                    border-radius: 10px;
                    text-decoration: none;
                    &:hover{
                        @include coloreado ($colorSecundario,$colorPrincipal);
                    }
                   button{
                    @include coloreado (rgba(120, 224, 120),$colorSecundario);
                    border-radius: 8px;
                   }
                }
            }
        }
    }
}

//comienza page de "Contacto" aplicando nesting
.section-container-contactanos{
    @include d-flex (row,center);
    width: $ancho-w;
    margin-top: 50px;
    .disposicion-contenidos{
        @include flex (row,wrap,center,center);
        width: $ancho-w;
        .ancho1{
            font-size: 1.5em;
            text-align: center;
            background-color: wheat;
        }
        
        .conteiner-formularios{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: $ancho-w;
            .b-g{
                width: 45%;
                display: flex;
                justify-content: center;
                background-color: $colorTerciario;
                border-radius: 20px;
                form{
                    width: 90%;
                    margin: 25px;
    
                    .border-form{
                        @include containers-dos (solid $colorTerciario 2px,20px,$colorPrincipal);
                        @extend .form-column-formularios;
                        
                        .tamanos-formularios{
                            margin: 20px 0;
                            input{
                                width: 350px;
                            }
                            label{
                                color: $colorSecundario;
                                margin-bottom: 5px;
                            }
                        }
                        .button1{
                            margin: 15px 0;
                            input{
                                width: 110px;
                            }
                        }
                        .button2{
                            margin: 15px 0;
                        }
                        .column-formularios{
                            @extend .form-column-formularios;
                        }
                    }
                }
            }
        }
        .ancho1{
            width: 51%;
            margin-bottom: 50px;
        }
    }   
}
.d-h2{
    @include d-flex (row,center);
    .indicacion-iframe{
        @include coloreado ($colorPrincipal,$colorTerciario);
        text-align: center;
        height: auto;
        margin-top: 40px;
        width: 65%;
    }
}
.find-us{
    @include d-flex (row,center);
    width: $ancho-w;
    height: 60vh;
    margin: 20px 0 35px 0;
    .iframe-contactos{
        @include flex (row,wrap,center,stretch); 
        width: 65%;
        height: 60vh;
        background-color: $colorTerciario;
        .widthh{
            width: $ancho-w;
        }
    }
}

//Comienza  Page de "error 404 not foud"
.not-found{
    background-color: black;
    .contenedor-fluid-error404{
        height: 100vh;
        width: $ancho-w;
        margin: 0;
        @include d-flex (row,center); 
        
        main{
            width: $ancho-w;
            height: 100%;
            @include animation (not-found-404,10s,infinite,linear);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            display: flex;
            
            .contenedor-section-404{
                @include acomodo-cont (center,center);
                width: 40%;
                height: 45%;
                h1{
                    @include coloreado ($colorPrincipal,$colorSecundario);
                    margin-bottom: 20px;
                    text-align: center;
                    border-radius: 7px;
                    font-family: $fontSecundary;
                    font-weight: $fontWprimary;
                }
                h2{
                    color: $colorSecundario;
                }
                p{
                    @include coloreado ($colorPrincipal,$colorTerciario);
                    @include text (1.4em,1.5em,$colorTerciario,center);
                    padding: 0 15px;
                    border-radius: 10px;
                    &:hover{
                        transform: scale(1.2);
                        transition:all 1.5s ;
                        cursor: pointer;
                    }
                }
                .buton-404{
                    @include d-flex (row,center);
                    a{
                        @include coloreado (red,$colorSecundario);
                        border-radius: 5px;
                        .btn{
                            color: $colorPrincipal;
                            &:hover{
                                @include containers-dos (none,5px,$colorSecundario);
                                transform:scale(1.2);
                                transition: 1s;
                            }
                        }
                    }
                }
            }
        }
    }  
}
