//Minxis

//primer mixin
@mixin flex ($direct,$wrap,$justy,$align){
    display: flex;
    /* Variables locales */
    flex-direction: $direct;
    flex-wrap: $wrap;
    justify-content: $justy;
    align-items: $align;                                                         
}

//segundo mixin
@mixin d-flex ($direct,$justy){
    display: flex;
    /* Variables locales */
    flex-direction: $direct;
    justify-content: $justy;
}


@mixin acomodo-cont ($justy,$aling){
    display: flex;
    /* Variables locales */
    justify-content: $justy;
    align-items: $aling;
}

//cuarto mixin
@mixin text ($tamano,$interline,$color,$text){
    //variables locales
    font-size: $tamano;
    line-height: $interline;
    color: $color;
    text-align: $text;
}

//quinto mixin
@mixin text2($tamano,$interline){
    /* Variables locales */
    font-size: $tamano;
    line-height: $interline;
}

//sexto mixin
@mixin containers ($width,$alto,$margin,$border,$circulo){
    /* Variables locales */
    width: $width;
    height: $alto;
    margin: $margin;
    border: $border;
    border-radius: $circulo;
}

//octavo mixin
@mixin containers-dos ($border,$circulo,$bg-color){
    /* Variables locales */
    border: $border;
    border-radius: $circulo;
    background-color: $bg-color;
}

//noveno mixin
@mixin grid ($margin,$gt-c,$gap,$width){
    display: grid;
    /* Variables locales */
    grid-template-columns: $gt-c;
    margin-bottom: $margin;
    gap: $gap;
    width: $width;
}

//decimo mixin
@mixin coloreado ($bg-c,$color){
    /* Variables locales */
    background-color: $bg-c;
    color: $color;
}

//onceavo mixin
@mixin animation ($name,$seg,$repeat,$direct){
    /* Variables locales */
    animation-name: $name;
    animation-duration: $seg;
    animation-iteration-count: $repeat;
    animation-timing-function: $direct;
}



//Extend

//primer extend aplicado en (grid-index)
.img-extend{
    width: 100%;
    height: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

//segundo extend aplicado en (grid-productos)
.gd-prod-h2{
    text-align: center;
    background-color: black;
    color: wheat;
}

//tercer extend aplicado en img de (grid-productos)
.img-extend-productos{
    width: 100%;
    height: 70%;
    overflow: hidden;
    margin-top: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

//cuarto extend aplicado en articulos de (grid-productos)
.articles-prod{
    border: solid 3px black;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

//quinto extend aplicado en articulos de la section global 2 de "productos"
.producto-section2-{
    border: solid 2px black;
    padding: 10px 10px;
    margin: 10px 10px;
    text-align: center;
    border-radius: 10px;
}

//sexto extend aplicado en page "Formularios" o "contacto"
.form-column-formularios{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

//septimo extend aplicado en paginas "Productos" contenedor "Agrupacion"
.animacion-agrupacion{
    width: 30%;
    height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
