//Minxis

//primer mixin
@mixin flex ($direct,$wrap,$justy,$align){
    display: flex;
    flex-direction: $direct;//variable local
    flex-wrap: $wrap;//variable local
    justify-content: $justy;//variable local
    align-items: $align;//variable local                                                            
}

//segundo mixin
@mixin d-flex ($direct,$justy){
    display: flex;
    flex-direction: $direct;//variable local
    justify-content: $justy;//variable local
}

//tercer mixin
@mixin acomodo-cont ($justy,$aling){
    display: flex;
    justify-content: $justy;
    align-items: $aling;
}

//cuarto mixin
@mixin text ($tamano,$interline,$color,$text){
    //variables locales
    font-size: $tamano;
    line-height: $interline;
    color: $color;
    text-align: $text;
}

//quinto mixin
@mixin text2($tamano,$interline){
    font-size: $tamano;
    line-height: $interline;
}

//sexto mixin
@mixin containers ($width,$alto,$margin,$border,$circulo){
    width: $width;//variable local
    height: $alto;//variable local
    margin: $margin;//variable local
    border: $border;//variable local
    border-radius: $circulo;//variable local
}

//octavo mixin
@mixin containers-dos ($border,$circulo,$bg-color){
    border: $border;
    border-radius: $circulo;
    background-color: $bg-color;
}

//noveno mixin
@mixin grid ($margin,$gt-c,$gap,$width){
    display: grid;
    grid-template-columns: $gt-c;//variable local
    margin-bottom: $margin;//variable local
    gap: $gap;//variable local
    width: $width;//variable local
}

//decimo mixin
@mixin coloreado ($bg-c,$color){
    background-color: $bg-c;//variable local
    color: $color;//variable local
}



//Extend

//primer extend aplicado en (grid-index)
.img-extend{
    width: 100%;
    height: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

//segundo extend aplicado en (grid-productos)
.gd-prod-h2{
    text-align: center;
    background-color: black;
    color: wheat;
}

//tercer extend aplicado en img de (grid-productos)
.img-extend-productos{
    width: 100%;
    height: 70%;
    overflow: hidden;
    margin-top: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

//cuarto extend aplicado en articulos de (grid-productos)
.articles-prod{
    border: solid 3px black;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

//quinto extend aplicado en articulos de la section global 2 de "productos"
.producto-section2-{
    border: solid 2px black;
    padding: 10px 10px;
    margin: 10px 10px;
    text-align: center;
    border-radius: 10px;
}

//sexto extend aplicado en page "Formularios" o "contacto"
.form-column-formularios{
    display: flex;
    flex-direction: column;
    align-items: center;
}


