//comienza acomodo de NAVEGADOR con nesting/anidacion Sass
.navegador{
    background-color: $colorPrincipal;
    display: flex;
    width: $ancho-w;
    height: auto;
    img{
        width: 25%;
        height: auto;
        display: flex;
    }
    ul{
        @include flex (row,nowrap,space-around,center);
        width: 80%;
        li{
            a{
                color: $colorSecundario;
                &:hover{
                    background-color:$colorSecundario;
                    color: $colorPrincipal;
                    text-decoration: underline;
                }
            }
        }
    }
    //buscador del sitio-web
    .bg-form{
        background-color: $colorSecundario;
        border-radius: 5px;
    }
    .edit-button{
        @include d-flex (row,center);
        background-color: $colorSecundario;
        border: $bord-er;
        border-radius: 5px;
        width: 30px;
        svg{
            color: $colorPrincipal;
        }
    }
    
}
//fin de acomodo de nav aplicando metodo nesting de Sass

















