//Varibles Globales
$colorPrincipal:black;
$colorSecundario:white;
$colorTerciario:wheat;
$fontPrimary:'Oswald', sans-serif;
$fontSecundary:'Saira', sans-serif;
$fontWprimary:500;
$fontWsecundary:400;
$ancho-w: 100%;
$size: 1em;